<template>
    <div>
        <div class="table-toolbar">
            <el-input style="width:200px;" placeholder="请输入编号,名称或行业" v-model="inputKeyword" @keyup.enter.native="search"></el-input>
            <el-button type="info" icon="search" @click="search()">搜索</el-button>
            <el-button type="info" @click="syncTemplate()">同步消息模板</el-button>
        </div>
        <div class="table-container">
            <el-table :data="viewData" border style="width: 100%" v-loading.lock="fullscreenLoading " element-loading-text="Loading">
                <el-table-column :show-overflow-tooltip=true prop="templateNo" label="模板编号">
                </el-table-column>
                <el-table-column :show-overflow-tooltip=true prop="title" label="模板名称">
                </el-table-column>
                <el-table-column :show-overflow-tooltip=true prop="OneIndustry" label="行业">
                </el-table-column>
                <el-table-column :show-overflow-tooltip=true prop="content" label="模板内容">
                </el-table-column>
                <el-table-column :show-overflow-tooltip=true prop="Demo" label="示例">
                </el-table-column>
                <el-table-column align='center' label="操作">
                    <template scope="scope">
                        <el-button type="text" @click="bindParam(scope.$index, scope.row)">绑定</el-button>
                        <el-button type="text" @click="watchDetails(scope.$index, scope.row)">查看</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-row class="pagination-row">
                <el-col v-bind:span="24" style="text-align: left;">
                    <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" v-bind:current-page="currentPage" v-bind:page-sizes="pageSizes" v-bind:page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" v-bind:total="total">
                    </el-pagination>
                </el-col>
            </el-row>
        </div>
        <el-dialog v-bind:visible.sync="dialogFormVisible" title="查看详情" size="small">
            <table class="detialTable">
                <tr>
                    <td>模板编号</td>
                    <td>{{detailsData.templateNo}}</td>
                </tr>
                <tr>
                    <td style="width:100px;">模板名称</td>
                    <td>{{detailsData.title}}</td>
                </tr>
                <tr>
                    <td style="width:100px;">行业</td>
                    <td>{{detailsData.OneIndustry}}</td>
                </tr>
                <tr>
                    <td style="width:100px;">模板内容</td>
                    <td>{{detailsData.content}}</td>
                </tr>
                <tr>
                    <td style="width:100px;">示例</td>
                    <td>{{detailsData.Demo}}</td>
                </tr>
            </table>
            <div slot="footer">
                <el-button @click="back()">返回</el-button>
            </div>
        </el-dialog>
        <el-dialog v-bind:visible.sync="dialogBindChar" size="small" title="绑定参数">
            <el-form>
                <el-table class="bindCharTable" :data="curParamList" border style="width: 100%;">
                    <el-table-column width="100px" label="Key" prop="key">
                    </el-table-column>
                    <el-table-column width="150px" label="字段名" prop="label">
                        <template scope="scope">
                            <el-input v-model="scope.row.label"></el-input>
                        </template>
                    </el-table-column>
                    <el-table-column label="默认值" prop="default">
                        <template scope="scope">
                            <el-input v-model="scope.row.default"></el-input>
                        </template>
                    </el-table-column>
                    </el-form-item>
                </el-table>
                <div style="margin-top:15px;margin-left:auto;margin-right:auto;width:100%;text-align:right;">
                    <el-button @click="putData()">保存</el-button>
                    <el-button @click="cancel()">取消</el-button>
                </div>
            </el-form>
        </el-dialog>
    </div>
</template>
<script>
import templateMessage from 'api/templateMessage';
export default {
    data() {
        return {
            detailsData: [{
                templateNo: "",
                title: "",
                content: "",
                OneIndustry: "",
                Demo: '',
            }],
            listData: '',
            getListDatas: [],
            viewData: [],
            templateNo: "",
            title: "",
            content: "",
            OneIndustry: "",
            Demo: '',
            inputKeyword: '',
            dialogBindChar: false,
            dialogFormVisible: false,
            currentPage: 1,
            pageSizes: [10, 20, 50, 100],
            pageSize: 10,
            total: 0,
            fullscreenLoading: false,
            curParamList: [],
            curTempateId: [],
        }
    },
    created: function() {
        this.getList();
    },
    mounted: function() { },
    methods: {
        putData: function(body) {
            var body = {
                "id": this.curTempateId,
                "paramList": this.curParamList
            }
            templateMessage.updateList(body).then((res) => {
                console.log(res);
                this.$message.success('绑定成功!');
                this.fullscreenLoading = false;
                this.dialogBindChar = false;
                this.getList();
            }).catch((err) => {
                this.fullscreenLoading = false;
                console.error(err);
            })
        },
        cancel: function() {
            this.dialogBindChar = false;
        },
        //查看弹窗的返回按钮
        back: function() {
            this.dialogFormVisible = false;
        },
        getList: function() {
            var data = this.inputKeyword;
            this.fullscreenLoading = true;
            templateMessage.searchList(this.pageSize, this.currentPage, data).then((res) => {
                this.viewData = res.data.rows;
                this.total = res.data.count;
                this.fullscreenLoading = false;
            }).catch((err) => {
                console.error(err);
                this.fullscreenLoading = false;
            })
        },
        //搜索事件
        search: function() {
            this.currentPage = 1;
            this.viewData = [];
            this.getList();
        },
        //同步消息模板
        syncTemplate: function() {
            this.fullscreenLoading = true,
                setTimeout(() => {
                    templateMessage.syncList().then((res) => {
                        this.fullscreenLoading = false;
                        this.$message.success('同步成功!');
                        this.currentPage = 1;
                        this.viewData = [];
                        this.getList();
                    }).catch((err) => {
                        console.error(err);
                        this.fullscreenLoading = false;
                    });
                }, 0);
        },
        bindParam: function(index, row) {
            console.log(789)
            this.dialogBindChar = true;
            this.curTempateId = row.id;
            this.curParamList = JSON.parse(JSON.stringify(row.paramList));
        },
        //查看
        watchDetails: function(index, row) {
            console.log(row);
            this.dialogFormVisible = true;
            this.detailsData.templateNo = row.templateNo;
            this.detailsData.title = row.title;
            this.detailsData.content = row.content;
            this.detailsData.OneIndustry = row.OneIndustry;
            this.detailsData.Demo = row.Demo;
        },
        handleSizeChange(val) {
            this.pageSize = val;
            this.getList();
        },
        handleCurrentChange(val) {
            this.currentPage = val;
            this.getList();
        }
    }
}
</script>
<style>
.detialTable {
    border-right: 1px solid #dfe6ec;
    border-bottom: 1px solid #dfe6ec;
    width: 100%;
}

.detialTable td {
    border-left: 1px solid #dfe6ec;
    border-top: 1px solid #dfe6ec;
    min-height: 40px;
    padding-left: 10px;
    line-height: 40px;
}

.detialTable tr :first-child {
    background-color: #eef1f6;
    width: 100px;
}

.el-tooltip__popper .is-dark {
    background: #fbfdff;
    color: #1f2d3d;
    width: 260px;
    word-wrap: break-word;
    border: 1px solid rgb(31, 45, 61);
}
</style>
