<template>
    <div>
        <el-menu class="navbar" mode="horizontal">
            <hamburger class="hamburger-container" :toggleClick="toggleSideBar" :isActive="sidebar.opened"></hamburger>
            <levelbar></levelbar>
            <tabs-view></tabs-view>
            <error-log v-if="log.length>0" class="errLog-container" :logsList="log"></error-log>
            <screenfull class='screenfull'></screenfull>
            <el-dropdown class="avatar-container" trigger="click">
                <div class="avatar-wrapper">
                      <a href="#"><img class="user-avatar" src='../../../documentImg/admin.png'></a>
                    <i class="el-icon-caret-bottom"></i>
                </div>
                <el-dropdown-menu class="user-dropdown" slot="dropdown">
                    <router-link class='inlineBlock' to="/">
                        <el-dropdown-item>
                            首页
                        </el-dropdown-item>
                    </router-link>
    
                    <el-dropdown-item divided>
                        <span @click="updatePwd" style="display:block;">修改密码</span>
                    </el-dropdown-item>
                    <el-dropdown-item divided>
                        <span @click="logout" style="display:block;">退出登录</span>
                    </el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
        </el-menu>
    
        <updatePwd ref="updatePwd"></updatePwd>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import Levelbar from './Levelbar';
import TabsView from './TabsView';
import Hamburger from 'components/Hamburger';
import Screenfull from 'components/Screenfull';
import ErrorLog from 'components/ErrLog';
import errLogStore from 'store/errLog';
import updatePwd from './updatePwd';

export default {
    components: {
        Levelbar,
        TabsView,
        Hamburger,
        ErrorLog,
        Screenfull,
        updatePwd
    },
    data() {
        return {
            log: errLogStore.state.errLog,
        }
    },
    computed: {
        ...mapGetters([
            'sidebar',
            'name',
            'avatar'
        ])
    },
    methods: {
        toggleSideBar() {
            this.$store.dispatch('ToggleSideBar')
        },
        updatePwd() {
            console.log(1);
            this.$refs.updatePwd.showDialog();
              this.$refs.updatePwd.$refs['ruleForm'].resetFields();
        },
        logout() {
            this.$store.dispatch('LogOut').then(() => {
                location.reload();// 为了重新实例化vue-router对象 避免bug
            });
        }
    }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.navbar {
    height: 50px;
    line-height: 50px;
    border-radius: 0px !important;
    .hamburger-container {
        line-height: 58px;
        height: 50px;
        float: left;
        padding: 0 10px;
    }
    .errLog-container {
        display: inline-block;
        position: absolute;
        right: 150px;
    }
    .screenfull {
        position: absolute;
        right: 90px;
        top: 16px;
        color: red;
    }
    .avatar-container {
        height: 50px;
        display: inline-block;
        position: absolute;
        right: 35px;
        .avatar-wrapper {
            cursor: pointer;
            margin-top: 5px;
            position: relative;
            .user-avatar {
                width: 40px;
                height: 40px;
                border-radius: 10px;
            }
            .el-icon-caret-bottom {
                position: absolute;
                right: -20px;
                top: 25px;
                font-size: 12px;
            }
        }
    }
}
</style>



