<template>
    <div>
        <div class="table-toolbar">
            <el-button @click="showAddDialog" type="info" icon="plus">添加角色</el-button>
            <!-- <el-button type="info">权限管理</el-button> -->
        </div>
        <div class="table-container">
            <el-table :data="roleData" border>
                <el-table-column label="序号" prop="id"></el-table-column>
                <el-table-column label="角色名称" prop="name"></el-table-column>
                <el-table-column label="角色描述" prop="roleInfo"></el-table-column>
                <el-table-column label="操作" align="center">
                    <template scope="scope">
                        <template v-if="scope.row.name!='admin'">
                            <el-button type="text" size="small" v-on:click="showMenuDialog(scope.$index, scope.row)">分配菜单</el-button>
                            <el-button type="text" size="small" v-on:click="showEditDialog(scope.$index, scope.row)">编辑</el-button>
                            <el-button type="text" size="small" v-on:click="deleteRole(scope.$index,scope.row)">删除</el-button>
</template>
                    </template>
                </el-table-column>
            </el-table>
            </el-row>
            <el-row class="pagination-row">
                <el-col v-bind:span="24" style="text-align: left;">
                    <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" v-bind:current-page="currentPage" v-bind:page-sizes="pageSizes" v-bind:page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" v-bind:total="total">
                    </el-pagination>
                </el-col>
            </el-row>
        </div>
        <el-dialog title="添加角色" :visible.sync="addDialogVisible" size="tiny">
            <el-form v-bind:model="addForm" v-bind:rules="rules" ref="addForm" label-width="80px" label-position="left">
                <el-form-item label="角色名称" prop="name">
                    <el-input v-model="addForm.name"></el-input>
                </el-form-item>
                <el-form-item label="角色描述" prop="roleInfo">
                    <el-input v-model="addForm.roleInfo"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="add">确定</el-button>
                <el-button @click="addDialogVisible=false">取消</el-button>
            </div>
        </el-dialog>
        <el-dialog title="编辑角色" :visible.sync="editDialogVisible" size="tiny">
            <el-form v-bind:model="editForm" v-bind:rules="rules" ref="editForm" label-width="80px" label-position="left">
                <el-form-item label="角色名称" prop="name">
                    <el-input v-model="editForm.name"></el-input>
                </el-form-item>
                <el-form-item label="角色描述" prop="roleInfo">
                    <el-input v-model="editForm.roleInfo"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="edit">确定</el-button>
                <el-button @click="editDialogVisible=false" v-loading.fullscreen.lock="fullscreenLoading " element-loading-text="Loading">取消</el-button>
            </div>
        </el-dialog>

        <el-dialog title="分配菜单" :visible.sync="menuDialogVisible" size="small">
            <el-tree
             :data="menuData"
             show-checkbox
             :expand-on-click-node="false"
             node-key="id"
             :default-expand-all="showAll"
             :props="defaultProps"
             ref="tree">
            </el-tree>
            <div slot="footer" class="dialog-footer">
                <el-button @click="confirm">确定</el-button>
                <el-button @click="menuDialogVisible=false" v-loading.fullscreen.lock="fullscreenLoading " element-loading-text="Loading">取消</el-button>
            </div>
        </el-dialog>
    </div>
</template>


<script>
import roleManager from 'api/roleManager';
import {
    asyncRouterMap,
    constantRouterMap
} from 'src/router';

import {
    parseTime
} from 'utils';
export default {
    name: 'RoleManager',
    data() {
        return {
            addDialogVisible: false,
            editDialogVisible: false,
            fullscreenLoading: false,
            menuDialogVisible: false,
            editForm: {
                id: 0,
                name: '',
                roleInfo: '',
            },
            addForm: {
                id: 0,
                name: '',
                roleInfo: '',
            },
            rules: {
                name:
                [
                    { required: true, message: '请输入角色名', trigger: 'change' },
                    { min: 1, max: 20, message: '角色名长度须在 1 到 20 个字符之间', trigger: 'change' }
                ]
                ,
                roleInfo: {
                    required: false,
                }
            },
            roleData: [],
            currentPage: 1,
            pageSizes: [10, 20, 50, 100],
            pageSize: 10,
            total: 0,
            defaultProps: {
                children: 'children',
                label: 'label'
            },
            menuData: [],
            treeData: [],
            finalData: [],
            menuID: '',
            showAll: false,
        }
    },
    mounted: function() {

    },
    created: function() {
        this.getList();
        this.menuData = getMenuTree(asyncRouterMap);

        function getMenuTree(menus) {
            var result = [];
            menus.forEach(x => {
                if (x.id) {
                    var v = {
                        id: x.id,
                        label: x.name,
                    }
                    x.children && (v.children = getMenuTree(x.children));
                    result.push(v);
                }
            })
            return result;
        }
        console.log(this.$store.getters.roles);
    },
    methods: {
        confirm: function() {
            this.treeData = this.$refs.tree.getCheckedKeys();
            this.finalData = [];
            this.treeData.forEach((element) => {
                if (element.toString().indexOf('0') >= 0) {
                    this.finalData.push(element);
                }
            }, this);

            console.log(this.finalData);
            if (this.finalData.length < 1) {
                this.$message.error('请至少选择一个菜单');
            } else {
                var data = {
                    "id": this.menuID,
                    "data": this.finalData || []
                }
                roleManager.setMenu(data).then((res) => {
                    this.menuDialogVisible = false;
                    this.getList();
                }).catch((err) => {
                    console.error(err);
                })
            }

        },
        showMenuDialog: function(index, row) {
            this.showAll = true;
            this.menuDialogVisible = true;
            if (row.menus == null) {
                setTimeout(() => {
                    this.$refs.tree.setCheckedKeys([]);
                }, 0)
            } else {
                setTimeout(() => {
                    this.$refs.tree.setCheckedKeys(JSON.parse(row.menus));
                }, 0)
            }
            this.menuID = row.id;
        },
        getTemplateName: function() {

        },
        getList: function() {
            roleManager.getList(this.pageSize, this.currentPage).then((res) => {
                console.log(1);
                this.roleData = res.data.rows;
                this.total = res.data.count;

            }).catch((err) => {
                console.error(err);
            })
        },
        formateTime: function(time) {
            return parseTime(time, '{y}-{m}-{d} {h}:{i}:{s}')
        },
        showAddDialog: function() {
            this.addForm.ame = '';
            this.addForm.roleInfo = '';
            setTimeout(() => {
                this.$refs['addForm'].resetFields();
                // this.$refs['editForm'].validateField('userName', (m) => { return callback() });
            })
            this.addDialogVisible = true;
        },
        add: function() {
            this.$refs['addForm'].validate((valid) => {
                if (valid) {
                    this.fullscreenLoading = true;
                    var data = {
                        "name": this.addForm.name,
                        "desc": this.addForm.roleInfo,

                    }
                    roleManager.addRole(data).then((response) => {
                        console.log(response);
                        this.fullscreenLoading = false;
                        this.addDialogVisible = false;
                        this.getList();
                    }).catch((err) => {
                        console.error(err);
                        this.fullscreenLoading = false;
                    })
                }
            });
        },
        showEditDialog: function(index, row) {
            console.log(row)
            this.editForm.id = row.id;
            this.editForm.name = row.name;
            this.editForm.roleInfo = row.roleInfo;
            this.editDialogVisible = true;
        },
        edit: function() {
            this.$refs['editForm'].validate((valid) => {
                if (valid) {
                    this.fullscreenLoading = true;
                    var data = {
                        "id": this.editForm.id,
                        "name": this.editForm.name,
                        "desc": this.editForm.roleInfo,
                        /* "password": this.editForm.password,*/
                    }
                    roleManager.editRole(data).then((response) => {
                        console.log(response);
                        this.$message.success('编辑成功！');
                        this.fullscreenLoading = false;
                        this.editDialogVisible = false;
                        this.getList();
                    }).catch((err) => {
                        console.error(err);
                        this.fullscreenLoading = false;
                    })
                }
            });
        },
        deleteRole: function(index, row) {
            this.$confirm('您确定要删除该角色?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(() => {
                this.fullscreenLoading = true;
                roleManager.deleteRole(row.id).then((response) => {
                    console.log(response);
                    this.fullscreenLoading = false;
                    this.$message.success('删除成功！');
                    this.getList();
                }).catch((err) => {
                    console.error(err);
                    this.fullscreenLoading = false;
                })
            }).catch(() => {

            });
        },

        handleSizeChange(val) {
            this.pageSize = val;
            this.getList();
        },
        handleCurrentChange(val) {
            this.currentPage = val;
            this.getList();
        }
    }
}
</script>

<style>
.el-form-item__label:before {
    content: '';
    margin-right: 8px;
}

.el-form-item.is-required .el-form-item__label:before {
    content: '*';
    color: #ff4949;
    margin-right: 4px;
}

.el-form-item__label {
    text-align: right;
    vertical-align: middle;
    float: left;
    font-size: 14px;
    color: #48576a;
    line-height: 1;
    padding: 8px 9px 8px 0;
    box-sizing: border-box;
}

.el-form-item__error {
    color: #ff4949;
    font-size: 12px;
    line-height: 1;
    padding-top: 4px;
    position: relative;
    top: 100%;
    left: 0;
}
</style>
