<template>
    <div>
        <div class="table-toolbar">
            <el-button @click="showAddDialog" type="info" icon="plus">添加系统用户</el-button>
            <!-- <el-button type="info">权限管理</el-button> -->
        </div>
        <div class="table-container">
            <el-table :data="userData" border>
                <el-table-column label="序号" prop="id"></el-table-column>
                <el-table-column label="用户名" prop="userName"></el-table-column>
                <el-table-column label="联系电话" prop="mobile"></el-table-column>
                <!-- <el-table-column label="权限" prop="roleID"></el-table-column>-->
                <el-table-column label="状态" prop="">
                    <template scope="scope">
                        <span v-if="scope.row.status==0">正常</span>
                        <span v-else>禁用</span>
                    </template>
                </el-table-column>
                <el-table-column label="注册时间" sortable>
                    <template scope="scope">
                        <span v-if="scope.row.createdAt">{{formateTime(scope.row.createdAt)}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="角色名称">
                    <template scope="scope">
                        {{scope.row.userroles.length!=0?scope.row.userroles[0].role.name:""}}
                    </template>
                </el-table-column>

                <el-table-column label="操作" align="center">
                    <template scope="scope">
                        <template v-if="scope.row.userName!='admin'">
                            <el-button type="text" size="small" v-on:click="showEditDialog(scope.$index, scope.row)">编辑</el-button>
                            <el-button v-if="scope.row.status==0" type="text" size="small" v-on:click="deleteUser(scope.$index, scope.row)">禁用</el-button>
                            <el-button v-else type="text" size="small" v-on:click="enableUser(scope.row.id)">启用</el-button>
                        </template>
                        <el-button type="text" size="small" v-on:click="restPwd(scope.row.id)">重置密码</el-button>
                        <el-button type="text" size="small" v-on:click="showSetRoleDialog(scope.$index, scope.row)">角色设置</el-button>

                    </template>
                </el-table-column>
            </el-table>
            </el-row>
            <el-row class="pagination-row">
                <el-col v-bind:span="24" style="text-align: left;">
                    <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" v-bind:current-page="currentPage" v-bind:page-sizes="pageSizes" v-bind:page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" v-bind:total="total">
                    </el-pagination>
                </el-col>
            </el-row>
        </div>
        <el-dialog title="添加用户" :visible.sync="addDialogVisible" size="tiny">
            <el-form v-bind:model="addForm" v-bind:rules="rules" ref="addForm" label-width="80px" label-position="left">
                <el-form-item label="用户名" prop="userName">
                    <el-input v-model="addForm.userName"></el-input>
                </el-form-item>
                <el-form-item label="联系电话" prop="mobile">
                    <el-input v-model="addForm.mobile"></el-input>
                </el-form-item>
                <el-form-item label="密码" prop="password" >
                    <div>
                        <el-input type="password" v-model="addForm.password"></el-input>
                    </div>
                </el-form-item>
                <el-form-item label="确认密码" prop="confirm_password">
                    <el-input type="password" v-model="addForm.confirm_password"></el-input>
                </el-form-item>
                <el-form-item label="设置角色" prop="role">
                    <el-select v-model="addForm.role" placeholder="请选择" style="width:100%">
                        <el-option v-for="item in roleOptions" :key="item.value" :label="item.label" :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="add">确定</el-button>
                <el-button @click="addDialogVisible=false">取消</el-button>
            </div>
        </el-dialog>
        <el-dialog title="编辑用户" :visible.sync="editDialogVisible" size="tiny">
            <el-form v-bind:model="editForm" v-bind:rules="rules" ref="editForm" label-width="80px" label-position="left">
                <el-form-item label="用户名" prop="userName">
                    <el-input v-model="editForm.userName"></el-input>
                </el-form-item>
                <el-form-item label="联系电话" prop="mobile">
                    <el-input v-model="editForm.mobile"></el-input>
                </el-form-item>
                <el-form-item label="是否启用" prop="status">
                    <el-select v-model="editForm.status" placeholder="请选择" style="width:100%">
                        <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="edit">确定</el-button>
                <el-button @click="editDialogVisible=false" v-loading.fullscreen.lock="fullscreenLoading " element-loading-text="Loading">取消</el-button>
            </div>
        </el-dialog>
        <el-dialog title="角色设置" :visible.sync="setRoleDialogVisible" size="small">
            <div style="margin-top:-20px;margin-bottom:10px">当前角色: {{roleName}}</div>
            <el-table :data="roleList" border tooltip-effect="dark" style="width: 100%">

                <el-table-column prop="name" label="角色名称" width="120">
                </el-table-column>
                <el-table-column prop="roleInfo" label="角色描述" show-overflow-tooltip>
                </el-table-column>
                <el-table-column label="操作" align="center">
                    <template scope="scope">
                        <el-button type="text" size="small" v-on:click="selectRow(scope.row)">选择</el-button>

                    </template>
                </el-table-column>
            </el-table>
        </el-dialog>

    </div>
</template>


<script>
import userManager from 'api/userManager';
import roleManager from 'api/roleManager';
import { parseTime } from 'utils';
export default {
    name: 'UserManager',
    data() {
        return {
            addDialogVisible: false,
            editDialogVisible: false,
            setRoleDialogVisible: false,
            fullscreenLoading: false,
            options: [{
                value: '0',
                label: '启用'
            }, {
                value: '-1',
                label: '禁用'
            }],
            editForm: {
                id: 0,
                userName: '',
                mobile: '',
                password: '',
                confirm_password: '',
                status: '0'
            },
            roleForm: {
                id: 0,

            },
            addForm: {
                id: 0,
                userName: '',
                mobile: '',
                password: '',
                confirm_password: '',
                status: '0',
                role: ''
            },
            rules: {
                userName: {
                    required: true,
                    validator: (rule, value, callback) => {
                        if (value) {
                            if (!/^[A-Za-z0-9]{3,12}$/.test(value)) {
                                return callback('用户名为3-12位的英文数字组合');
                            } else {
                                return callback();
                            }
                        } else {
                            return callback('请输入用户名');
                        }
                    },
                    tigger: 'change'
                },
                mobile: {
                    required: true,
                    message: '请输入联系电话',
                    /*  validator: (rule, value, callback) => {
                         if (value) {
                             if (!/^(13[0-9]|14[5|7]|15[0|1|2|3|5|6|7|8|9]|17[0|1|2|3|5|6|7|8|9]|18[0|1|2|3|5|6|7|8|9])\d{8}$/.test(value)) {
                                 return callback('请输入正确的手机格式');
                             } else {
                                 return callback();
                             }
                         }
                         else {
                             return callback('请输入手机号');
                         }
                     }, */
                    tigger: 'change'
                },
                password: {
                    required: true,
                    validator: (rule, value, callback) => {
                        if (value) {
                            if (!/^[a-zA-Z0-9]\w{5,15}$/.test(value)) {
                                return callback('密码为6~16位，只能包含字母、数字和下划线')
                            }
                            else {
                                return callback();
                            }
                        } else {
                            return callback('请输入密码');
                        }
                    },
                    tigger: 'change'

                },
                confirm_password: {
                    required: true,
                    validator: (rule, value, callback) => {
                        if (value) {
                            if (value != this.addForm.password) {
                                return callback('两次密码不一致');
                            } else {
                                return callback();
                            }
                        } else {
                            return callback('请输入确认密码');
                        }
                    },
                    tigger: 'change'
                },
                role: {
                    required: true,
                    message: '请设置角色',
                    tigger: 'change'
                },
                status: {
                    required: true,
                    message: '请选择状态',
                    tigger: 'change'
                }
            },
            userData: [],
            currentPage: 1,
            pageSizes: [10, 20, 50, 100],
            pageSize: 10,
            total: 0,
            roleList: [],
            roleOptions: [],
            multipleSelection: [],
            roleID: '',
            roleName: ''
        }
    },
    created: function() {
        this.getList();
        setTimeout(() => {
            this.getRoleList();
        }, 0);
    },
    methods: {
        selectRow: function(row) {
            console.log(row);
            var data = {
                "userID": this.roleForm.id,
                "roleID": row.id
            }
            userManager.setRole(data).then((response) => {
                console.log(response);
                this.$message.success('设置成功！');
                this.setRoleDialogVisible = false;
                this.getList();
            }).catch((err) => {
                console.error(err);
            })

        },
        getList: function() {
            this.fullscreenLoading = true;
            userManager.getList(this.pageSize, this.currentPage).then((res) => {
                console.log(1);
                this.userData = res.data.rows;
                this.total = res.data.count;
                this.fullscreenLoading = false;
            }).catch((err) => {
                console.error(err);
                this.fullscreenLoading = false;
            })
        },
        getRoleList: function() {
            roleManager.getList(this.pageSize, this.currentPage).then((res) => {
                console.log(1);
                this.roleList = res.data.rows;
                this.roleOptions = [];
                if (this.roleList.length > 0) {
                    for (var i = 0; i < this.roleList.length; i++) {
                        this.roleOptions.push({
                            value: this.roleList[i].id.toString(),
                            label: this.roleList[i].name
                        })
                    }
                }
                console.log('添加:' + this.roleOptions);
            }).catch((err) => {
                console.error(err);
            })
        },

        formateTime: function(time) {
            return parseTime(time, '{y}-{m}-{d} {h}:{i}:{s}')
        },
        showAddDialog: function() {
            this.addForm.userName = '';
            this.addForm.mobile = '';
            this.addForm.password = '';
            this.addForm.confirm_password = '';
            setTimeout(() => {
                this.$refs['addForm'].resetFields();
                // this.$refs['editForm'].validateField('userName', (m) => { return callback() });
            })
            this.addDialogVisible = true;
        },
        add: function() {
            this.$refs['addForm'].validate((valid) => {
                if (valid) {
                    this.fullscreenLoading = true;
                    var data = {
                        "userName": this.addForm.userName,
                        "mobile": this.addForm.mobile,
                        "password": this.addForm.password,
                        "status": "0",
                        "roleID": this.addForm.role.toString()
                    }
                    userManager.addUser(data).then((response) => {
                        console.log(response);
                        this.fullscreenLoading = false;
                        this.addDialogVisible = false;
                        this.getList();
                    }).catch((err) => {
                        console.error(err);
                        this.fullscreenLoading = false;
                    })
                }
            });
        },
        showEditDialog: function(index, row) {
            console.log(row)
            this.editForm.id = row.id;
            this.editForm.userName = row.userName;
            this.editForm.mobile = row.mobile;
            this.editForm.status = row.status.toString();
            this.editDialogVisible = true;
        },
        edit: function() {
            this.$refs['editForm'].validate((valid) => {
                if (valid) {
                    this.fullscreenLoading = true;
                    var data = {
                        "id": this.editForm.id,
                        "userName": this.editForm.userName,
                        "mobile": this.editForm.mobile,
                        /* "password": this.editForm.password,*/
                        "status": this.editForm.status
                    }
                    userManager.editUser(data).then((response) => {
                        console.log(response);
                        this.$message.success('编辑成功！');
                        this.fullscreenLoading = false;
                        this.editDialogVisible = false;
                        this.getList();
                    }).catch((err) => {
                        console.error(err);
                        this.fullscreenLoading = false;
                    })
                }
            });
        },

        showSetRoleDialog: function(index, row) {
            console.log('角色设置');
            console.log(row);
            this.roleForm.id = row.id;
            if (row.userroles.length > 0) {
                this.roleName = row.userroles[0].role.name;
            } else {
                this.roleName = '角色未设置';
            }
            this.setRoleDialogVisible = true;
        },
        deleteUser: function(index, row) {
            this.$confirm('您确定要禁用该账号？禁用改账号后将无法登录', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(() => {
                this.fullscreenLoading = true;
                userManager.deleteUser(row.id).then((response) => {
                    console.log(response);
                    this.fullscreenLoading = false;
                    this.$message.success('禁用成功！');
                    this.getList();
                }).catch((err) => {
                    console.error(err);
                    this.fullscreenLoading = false;
                })
            }).catch(() => {

            });
        },
        enableUser: function(id) {
            this.$confirm('您确定要启用用该账号？', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(() => {
                this.fullscreenLoading = true;
                var data = {
                    "id": id,
                    "status": 0
                }
                userManager.editUser(data).then((response) => {
                    console.log(response);
                    this.$message.success('启用成功！');
                    this.fullscreenLoading = false;
                    this.getList();
                }).catch((err) => {
                    console.error(err);
                    this.fullscreenLoading = false;
                })
            }).catch(() => {

            });
        },
        restPwd: function(id) {
            this.$confirm('您确定要将该帐号密码重置为123456？', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(() => {
                this.fullscreenLoading = true;
                userManager.restPwd(id).then((response) => {
                    console.log(response);
                    this.fullscreenLoading = false;
                    this.$message.success('重置密码成功！');
                }).catch((err) => {
                    console.error(err);
                    this.fullscreenLoading = false;
                })
            }).catch(() => {

            });
        },
        handleSizeChange(val) {
            this.pageSize = val;
            this.getList();
        },
        handleCurrentChange(val) {
            this.currentPage = val;
            this.getList();
        }
    }
}
</script>
<style>
.el-form-item__error {
    color: #ff4949;
    font-size: 12px;
    line-height: 1;
    padding-top: 4px;
    position: relative;
    top: 100%;
    left: 0;
}
</style>
