<style>
.completedFileList .el-upload--picture-card {
  display: none;
}

.title {
  background-color: #eef1f6;
  line-height: 35px;
  padding-left: 10px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.disable-delete .el-upload-list__item-delete .el-icon-delete2 {
  display: none;
}

.disable-delete-icon .el-upload-list__item .el-icon-close {
  display: none !important;
}
</style>
<template>
    <div>
        <div class="table-toolbar">
            <el-select v-model="listTpId" @change="searchTemplateTypeChange" placeholder="请选择模板" style="width:120px;">
                <el-option v-for="item in arrOptions" :label="item.label" :key="item.value" :value="item.value">{{item.label}}</el-option>
            </el-select>
            <el-select v-model="pushStatus" placeholder="推送类型" style="width:120px">
                <el-option v-for="item in sendArr" :label="item.label" :key="item.value" :value="item.value">{{item.label}}</el-option>
            </el-select>
            <el-select v-model="listlabelId" placeholder="请选择会员分组" style="width:180px;">
                <el-option v-for="item in arrLabels" :label="item.label" :key="item.value" :value="item.value">{{item.label}}</el-option>
            </el-select>
            <el-date-picker v-model="searchDate" type="daterange" placeholder="选择日期" style="width:180px;"></el-date-picker>
            <!-- <el-input v-model="searchFieldValue" style="width:200px"></el-input> -->
            <el-button type="info" @click="search" icon="search">搜索</el-button>
            <el-button @click="showAddDialog" type="info" icon="plus">添加</el-button>
            <el-button @click="batchPush" type="info">批量推送</el-button>
            <el-button @click="batchDelete" type="danger" icon="delete">批量删除</el-button>
        </div>
        <div class="table-container">
            <el-table :row-class-name = "tableRowClassName" @row-click="rowClick" :data="listData" border @selection-change="handleSelectionChange" style="width:100%;">
                <el-table-column type="selection" width="55"></el-table-column>
                <el-table-column label="模板消息标题" :show-overflow-tooltip="true">
                    <template scope="scope">
                        <el-button type="text" size="small" @click="showMsg(scope.row)">{{scope.row.template.title}}</el-button>
                    </template>
                </el-table-column>
                <el-table-column prop="labelID" label="会员分组" :show-overflow-tooltip="true">
                    <template scope="scope">
                        <span>{{scope.row.label.name}}</span>
                    </template>
                </el-table-column>
                <el-table-column v-for="item in (selectTp.paramList||[]).filter(x=>x.key!='first'&&x.key!='remark')" :key="item.key" :label="item.label">
                    <template scope="scope">
                        <span>{{(JSON.parse(scope.row.params)[item.key]||{value:''}).value}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="推送时间">
                    <template scope="scope">
                        <span v-if="scope.row.pushTime">{{formateTime(scope.row.pushTime)}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="上传采购清单" align="center">
                    <template scope="scope">
                        <el-button v-if="scope.row.groupfiles.some(x=>x.fileType == 1)" type="text" size="small" @click="showImg(scope.row)">
                            查看图片</el-button>
                        <el-button v-else-if="scope.row.status==-1" type="text" size="small" v-on:click="uploadImage(scope.row)">上传图片</el-button>
                        <el-button v-else type="text" size="small" @click="todoNothing">无</el-button>
                        <el-button v-if="scope.row.groupfiles.some(x=>x.fileType == 2)" type="text" size="small" @click="showFile(scope.row)">
                            查看文件</el-button>
                        <el-button v-else-if="scope.row.status==-1" type="text" size="small" v-on:click="uploadFile(scope.row)">上传文件</el-button>
                        <el-button v-else type="text" size="small" @click="todoNothing">无</el-button>
                    </template>
                </el-table-column>
                <el-table-column prop="operation" label="操作" align="center">
                    <template scope="scope">
                        <el-button type="text" v-if="scope.row.status==-1" size="small" v-on:click="showEditDialog(scope.$index, scope.row)">编辑</el-button>
                        <el-button type="text" size="small" v-on:click="deleteOne(scope.row.id)">删除</el-button>
                        <el-button type="text" v-if="scope.row.status==-1" size="small" v-on:click="pushOne(scope.row.id)">推送</el-button>
                        <el-button type="text" size="small" @click="showNewCopy(scope.row)">复制</el-button>
                    </template>
                </el-table-column>
            </el-table>
            </el-row>
            <el-row class="pagination-row">
                <el-col v-bind:span="24" style="text-align: left;">
                    <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" v-bind:current-page="currentPage" v-bind:page-sizes="pageSizes" v-bind:page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" v-bind:total="total">
                    </el-pagination>
                </el-col>
            </el-row>
        </div>
        <el-dialog title="添加分组推送" :visible.sync="addDialogVisible" class="formDialog" size="tiny">
            <el-form v-bind:model="ruleForm" v-bind:rules="rules" ref="ruleForm" label-width="120px" label-position="left">
                <el-form-item label="会员分组" prop="labelID" placeholder="请选择会员分组">
                    <el-select v-model="ruleForm.labelID" prop="labelID">
                        <el-option v-for="item in labelOptions" :label="item.label" :key="item.value" :value="item.value"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="模板类型" prop="tplID" placeholder="请选择模板消息">
                    <el-select v-model="ruleForm.tplID" prop="tplID" @change="tempalteChange">
                        <el-option v-for="item in templateOptions" :label="item.label" :key="item.value" :value="item.value">{{item.label}}</el-option>
                    </el-select>
                </el-form-item>
                <el-form-item v-for="(item, index) in ruleForm.paramList" :key="item.key" :label="item.txt" :prop="'paramList.' + index + '.value'" :rules="{ required: true, message: ''+item.txt+'不能为空', trigger: 'blur'}">
                    <el-input v-if="item.key=='first'||item.key=='remark'" type="textarea" :rows="4" v-model="item.value"></el-input>
                    <el-input v-else v-model="item.value"></el-input>
                </el-form-item>

            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="add">确定</el-button>
                <el-button @click="addDialogVisible=false">取消</el-button>
            </div>
        </el-dialog>
        <el-dialog title="编辑分组推送" :visible.sync="editDialogVisible" class="formDialog" size="tiny">
            <el-form v-bind:model="editform" v-bind:rules="rules" ref="editform" label-width="120px" label-position="left">
                <el-form-item label="会员分组" prop="labelID" placeholder="请选择会员分组">
                    <el-select v-model="editform.labelID" prop="labelID">
                        <el-option v-for="item in labelOptions" :label="item.label" :key="item.value" :value="item.value">{{item.label}}</el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="模板类型" prop="tplID" placeholder="请选择模板消息">
                    <el-select v-model="editform.tplID" prop="tplID" @change="editTemplateChange">
                        <el-option v-for="item in templateOptions" :label="item.label" :key="item.value" :value="item.value">{{item.label}}</el-option>
                    </el-select>
                </el-form-item>
                <el-form-item v-for="(item, index) in editform.paramList" :key="item.key" :label="item.txt" :prop="'paramList.' + index + '.value'" :rules="{ required: true, message: ''+item.txt+'不能为空', trigger: 'blur'  }">
                    <el-input v-if="item.key=='first'||item.key=='remark'" type="textarea" :rows="4" v-model="item.value"></el-input>
                    <el-input v-else v-model="item.value"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="edit">确定</el-button>
                <el-button @click="editDialogVisible=false" v-loading.fullscreen.lock="fullscreenLoading " element-loading-text="Loading">取消</el-button>
            </div>
        </el-dialog>
        <el-dialog v-bind:visible.sync="dialogMsgVisible" class="dialog_msg" title="查看消息内容" size="tiny">
            <h4>{{tmepateTitle}}</h4>
            <div v-for="item in msgInfo">
                <!-- {{item.label + ': ' + item.value}} -->
                <table class="detialTable">
                    <tr>
                        <td>{{item.label}}</td>
                        <td>{{item.value}}</td>
                    </tr>
                </table>
            </div>
            <div slot="footer">
                <el-button @click="dialogMsgVisible=false">返回</el-button>
            </div>
        </el-dialog>
        <el-dialog title="上传图片" :visible.sync="uploadImageDialogVisible" :close-on-click-modal="false" @close="uploadDialogClose" size="tiny">
            <el-row>
                <el-upload :data="imgId" :before-upload="beforeAvatarUpload" ref="uploadFile" :action="uploadUrl" list-type="picture-card" :on-success="imageUploadSuccess" :on-remove="removeImage" :on-preview="handlePictureCardPreview" :auto-upload="true" :on-error="uploadFileError">
                    <i class="el-icon-plus"></i>
                </el-upload>
            </el-row>
            <div slot="footer" class="dialog-footer" v-if="isSHowUploadImage">
                <el-button @click="uploadCopyFile()">粘贴上传</el-button>
                <el-button @click="uploadImageDialogVisible=false">关闭</el-button>
            </div>
        </el-dialog>
        <el-dialog title="上传文件" :visible.sync="uploadFileDialogVisible" :close-on-click-modal="false" @close="uploadDialogClose" size="small">
            <el-row>
                <el-upload :data="fileId" :before-upload="beforeFileUpload" ref="uploadFile" :action="uploadUrl" :on-success="fileUploadSuccess" :on-remove="removeFile" :on-preview="handlePictureCardPreview" :file-list="fileList" :auto-upload="true" :on-error="uploadFileError">
                    <i class="el-icon-plus" style="backgroud-color:red">添加文件</i>
                </el-upload>
            </el-row>
            <div slot="footer" class="dialog-footer" v-if="isSHowUploadFile">
                <el-button @click="uploadFileDialogVisible=false">关闭</el-button>
            </div>
        </el-dialog>
        <el-dialog id="copyFileInput" title="粘贴上传图片" :visible.sync="uploadCopyFileDialogVisible" :close-on-click-modal="false" @close="uploadDialogClose" size="tiny">
            <el-row>
                <div class="el-upload el-upload--picture-card" id="copyFileDiv"></div>
            </el-row>
            <div slot="footer" class="dialog-footer">
                <el-button @click="submitUploadCopy()">开始上传</el-button>
                <el-button @click="uploadCopyFileDialogVisible=false">关闭</el-button>
            </div>
        </el-dialog>
        <el-dialog title="查看图片" :visible.sync="showImageDialogVisible" :close-on-click-modal="false" @close="uploadDialogClose" size="small">
            <el-row class="completedFileList">
                <el-row class="title">已上传的图片</el-row>
                <el-row v-bind:class="{'disable-delete':!isSHowUploadImage}">
                    <el-upload ref="uploadAlready" :action="uploadUrl" list-type="picture-card" :on-preview="handlePictureCardPreview" :auto-upload="true" :on-remove="removeImage" :file-list="imageFileList">
                    </el-upload>
                </el-row>
            </el-row>
            <el-row v-if="isSHowUploadImage">
                <el-row class="title">新增上传图片</el-row>
                <el-row>
                    <el-upload :data="imgId" ref="uploadAppendImage" :before-upload="beforeAvatarUpload" :action="uploadUrl" list-type="picture-card" :on-remove="removeImage" :on-preview="handlePictureCardPreview" :on-success="imageUploadSuccess" :auto-upload="true" :on-error="uploadFileError">
                        <i class="el-icon-plus"></i>
                    </el-upload>
                </el-row>
            </el-row>
            <div slot="footer" class="dialog-footer" v-if="isSHowUploadImage">
                <el-button @click="uploadCopyFile()">粘贴上传</el-button>
                <el-button @click="showImageDialogVisible=false">关闭</el-button>
            </div>
        </el-dialog>
        <el-dialog title="查看文件" :visible.sync="showFileDialogVisible" :close-on-click-modal="false" @close="uploadDialogClose" size="small">
            <el-row class="completedFileList">
                <el-row class="title">已上传的文件</el-row>
                <el-row v-bind:class="{'disable-delete-icon':!isSHowUploadFile}" style="margin-top:-20px">
                    <!--  <el-upload ref="uploadAlready" :action="uploadUrl" :on-preview="handlePictureCardPreview" :auto-upload="true" :on-remove="removeFile" :file-list="fileList">
                            </el-upload> -->
                    <div>
                        <div class="el-upload el-upload--text"><input type="file" name="file" class="el-upload__input"></div>
                        <ul class="el-upload-list el-upload-list--text">
                            <li v-for="item in fileList" class="el-upload-list__item is-success">
                                <!---->
                                <a class="el-upload-list__item-name" v-bind:href="item.url" target="_blank" title="点击下载" style="color:#20a0ff;">
                                    <i class="el-icon-document"></i>{{item.name}}
                                </a>
                                <label class="el-upload-list__item-status-label">
                                    <i class="el-icon-upload-success el-icon-circle-check"></i>
                                </label>
                                <i class="el-icon-close"></i>
                                <!---->
                                <!---->
                            </li>
                        </ul>
                    </div>
                </el-row>
            </el-row>
            <el-row v-if="isSHowUploadFile">
                <el-row class="title">新增上传文件</el-row>
                <el-row>
                    <el-upload :data="fileId" ref="uploadAppendFile" :before-upload="beforeFileUpload" :action="uploadUrl" :on-success="fileUploadSuccess" :on-remove="removeFile" :on-preview="handlePictureCardPreview" :auto-upload="true" :on-error="uploadFileError">
                        <i class="el-icon-plus" style="margin-top:10px">添加文件</i>
                    </el-upload>
                </el-row>
            </el-row>
            <div slot="footer" class="dialog-footer" v-if="isSHowUploadFile">
                <el-button @click="showFileDialogVisible=false">关闭</el-button>
            </div>
        </el-dialog>
        <el-dialog v-model="imgDialogVisible" size="large">
            <img width="100%" :src="dialogImageUrl" alt="">
        </el-dialog>
    </div>
</template>
<script type="javascript">
import groupPushManager from "api/groupPushManager";
import { parseTime } from "utils";

export default {
  data() {
    return {
      sendArr: [
        {
          value: "-1",
          label: "未推送"
        },
        {
          value: "0",
          label: "已推送"
        }
      ],
      pushStatus: "",
      fileList: [],
      isSHowUploadImage: true,
      isSHowUploadFile: true,
      imgId: "",
      fileId: "",
      showFileDialogVisible: false,
      showFileUrl: "",
      imgDialogVisible: false,
      uploadFileDialogVisible: false,
      uploadImageDialogVisible: false,
      uploadCopyFileDialogVisible: false,
      showImageDialogVisible: false,
      imageFileList: [],

      uploadUrl: "",
      dialogImageUrl: "",
      dialogMsgVisible: false,
      tmepateTitle: "",
      msgInfo: [],
      tempalteFields: [],
      searchDate: "",
      listTpId: "",
      listlabelId: "",
      templateOptions: [],
      arrOptions: [],
      arrLabels: [],
      searchFieldValue: "",
      addDialogVisible: false,
      editDialogVisible: false,
      fullscreenLoading: false,
      loading: false,
      loadingTxt: "数据请求中",
      listData: [],
      labelOptions: [],
      selectColumns: [],
      selectTp: {},
      selectLabel: {},
      copyImgHeight: 0,
      copyImgWidth: 0,
      ruleForm: {
        id: 0,
        tplID: Number,
        labelID: 0,
        uploadInventory: "",
        pushAttach: "",
        remark: "",
        paramList: []
      },
      editform: {
        id: 0,
        tplID: Number,
        labelID: 0,
        uploadInventory: "",
        pushAttach: "",
        remark: "",
        paramList: []
      },
      rules: {
        tplID: {
          required: true,
          message: "请选择模板消息",
          trigger: "change",
          type: "number"
        },
        labelID: {
          required: true,
          message: "请选择分组",
          trigger: "change",
          type: "number"
        }
      },
      currentPage: 1,
      pageSizes: [10, 20, 50, 100],
      pageSize: 10,
      total: 0,
      currentImageRow: "",
      currentRow: "",
      imageOrFile: "",
      highlightId: "",
      editCurrentRow: {}
    };
  },
  created: function() {
    this.getList();
    this.getGroupList();
    this.getTmeplates();
    this.showFileUrl = process.env.BASE_URL;
    this.uploadUrl = process.env.BASE_API + "upload/uploadImg";
  },
  methods: {
    rowClick: function(row, event, column) {
      this.highlightId = row.id;
    },
    //改变当前点击的行的class，高亮当前行
    tableRowClassName: function(row, index) {
      if (row.id == this.highlightId) {
        return "info-row";
      } else {
        return "default-row";
      }
    },
    showNewCopy: function(row) {
      if (row) {
        this.fullscreenLoading = true;
        groupPushManager
          .newCopyPush(Number(row.id))
          .then(response => {
            console.log(response);
            setTimeout(x => {
              this.fullscreenLoading = false;
              this.$message.success("复制并新建成功!");
              this.getList();
            }, 100);
          })
          .catch(err => {
            this.fullscreenLoading = false;
            this.$message.error("复制并新建失败!");
            console.error(err);
            this.fullscreenLoading = false;
          });
        console.log(row);
      }
    },
    beforeAvatarUpload(file) {
      const isJPG = file.type.indexOf("image") >= 0;
      const isLt2M = file.size / 1024 / 1024 < 5;

      if (!isJPG) {
        this.$message.error("请上传图片!");
      }
      if (!isLt2M) {
        this.$message.error("图片大小不能超过 5MB!");
      }
      return isJPG && isLt2M;
    },
    beforeFileUpload(file) {
      const isJPG = file.type.indexOf("image") < 0;
      const isLt2M = file.size / 1024 / 1024 < 500;

      if (!isJPG) {
        this.$message.error("请上传文件!");
      }
      if (!isLt2M) {
        this.$message.error("文件大小不能超过 500MB!");
      }
      return isJPG && isLt2M;
    },
    todoNothing: function() {
      return;
    },
    searchTemplateTypeChange: function(v) {
      this.selectTp = this.arrOptions.find(x => x.value == v);
      this.getList();
    },
    searchlabelChange: function(v) {
      this.listlabelId = this.arrLabels.find(x => x.value == v);
      this.getList();
    },
    formateTime: function(time) {
      return parseTime(time, "{y}-{m}-{d} {h}:{i}:{s}");
    },
    showImg: function(row) {
      setTimeout(() => {
        this.$nextTick(() => {
          this.$refs.uploadFile && this.$refs.uploadFile.clearFiles();
          this.$refs.uploadAppendFile &&
            this.$refs.uploadAppendFile.clearFiles();
          this.$refs.uploadAlready && this.$refs.uploadAlready.clearFiles();
          this.imageFileList = [];
        });
      }, 0);
      this.imageOrFile = "";
      this.currentImageRow = row;

      this.getFileList(row.id);
      this.isSHowUploadImage = row.status == -1;
      this.imgId = {
        id: row.id,
        type: 2,
        fileType: 1
      };
      this.showImageDialogVisible = true;
    },
    showFile: function(row) {
      setTimeout(() => {
        this.$nextTick(() => {
          this.$refs.uploadFile && this.$refs.uploadFile.clearFiles();
          this.$refs.uploadAppendImage &&
            this.$refs.uploadAppendImage.clearFiles();
          this.$refs.uploadAlready && this.$refs.uploadAlready.clearFiles();
          this.fileList = [];
        });
      }, 0);
      this.imageOrFile = "file";
      this.currentRow = row;

      this.getFileList(row.id);
      this.isSHowUploadFile = row.status == -1;
      this.fileId = {
        id: row.id,
        type: 2,
        fileType: 2
      };
      this.showFileDialogVisible = true;
    },
    getFileList: function(id) {
      groupPushManager
        .getUploadFileList(id)
        .then(res => {
          console.log(res.data);
          var list = res.data;
          if (list.length > 0) {
            for (var i = 0; i < list.length; i++) {
              if (list[i].fileType == 2) {
                this.fileList.push({
                  id: list[i].id,
                  name: list[i].fileName,
                  url: this.showFileUrl + list[i].filePath
                });
              } else {
                this.imageFileList.push({
                  id: list[i].id,
                  name: list[i].id,
                  url: this.showFileUrl + list[i].filePath
                });
              }
            }
          }
        })
        .catch(err => {
          console.error(err);
        });
    },
    uploadFile: function(row) {
      this.isSHowUploadFile = true;
      console.log("uploadFile");
      this.currentRow = row;
      this.fileId = {
        id: row.id,
        type: 2,
        fileType: 2
      };
      this.uploadFileDialogVisible = true;
    },
    uploadImage: function(row) {
      this.isSHowUploadImage = true;
      console.log("uploadImage");
      this.currentImageRow = row;
      this.imgId = {
        id: row.id,
        type: 2,
        fileType: 1
      };
      this.uploadImageDialogVisible = true;
    },
    uploadCopyFile: function() {
      this.uploadFileDialogVisible = false;
      this.uploadCopyFileDialogVisible = true;
      this.showImageDialogVisible = false;
      setTimeout(this.copyFile, 0);
    },
    fileUploadSuccess: function(response, file, fileList) {
      file.id = response.data.id;
      var indexFile = this.listData.findIndex(x => x.id == this.fileId.id);
      if (!this.listData[indexFile].groupfiles.some(x => x.fileType == 2)) {
        this.listData[indexFile].groupfiles.push({
          fileType: 2
        });
        setTimeout(() => {
          //局部刷新使用
          Vue.set(this.listData[indexFile].groupfiles[0], "fileType", 2);
        }, 0);
      }
      console.log(response);
    },
    imageUploadSuccess: function(response, file, imageFileList) {
      file.id = response.data.id;
      var indexImage = this.listData.findIndex(x => x.id == this.imgId.id);
      if (!this.listData[indexImage].groupfiles.some(x => x.fileType == 1)) {
        this.listData[indexImage].groupfiles.push({
          fileType: 1
        });
        setTimeout(() => {
          //局部刷新使用
          Vue.set(this.listData[indexImage].groupfiles[0], "fileType", 1);
        }, 0);
      }
      console.log(response);
    },
    handlePictureCardPreview: function(file) {
      if (this.imageOrFile == "file") {
        return;
      } else {
        this.dialogImageUrl = file.url;
        this.imgDialogVisible = true;
      }
    },
    uploadFileError: function(err, file, fileList) {
      console.log(file);
      this.$message.error(file.name + "上传失败");
    },
    submitUpload: function(elName) {
      this.$refs[elName].submit();
    },
    submitUploadCopy: function() {
      this.loading = true;
      if (this.currentImageRow) {
        var id = this.currentImageRow.id;
        var fileStr = this.currentCopyImg;
        if (fileStr) {
          groupPushManager
            .uploadCopyFile(id, fileStr)
            .then(res => {
              this.loading = false;
              this.uploadCopyFileDialogVisible = false;
              this.uploadImageDialogVisible = false;
              this.$message.success(res.message);
              document.getElementById("copyFileDiv").innerHTML = "";
              var data = {
                pushAttach: "0",
                id: id
              };
              groupPushManager.edit(data).then(result => {
                this.getList();
              });
            })
            .catch(err => {
              console.error(err);
              this.loading = false;
            });
        } else {
          this.$message.error("请添加一张图片");
        }
      } else {
        this.$message.error("请选择可用的消息列");
      }
    },
    uploadDialogClose: function() {
      setTimeout(() => {
        this.$nextTick(() => {
          this.$refs.uploadFile && this.$refs.uploadFile.clearFiles();
          this.$refs.uploadAlready && this.$refs.uploadAlready.clearFiles();
          this.$refs.uploadAppendImage &&
            this.$refs.uploadAppendImage.clearFiles();
          this.$refs.uploadAppendFile &&
            this.$refs.uploadAppendFile.clearFiles();
          this.fileList = [];
          this.imageFileList = [];
        });
      }, 0);
    },
    removeImage: function(file, imageFileList) {
      this.$confirm("您确定要删除当前的图片？删除后无法恢复", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        closeOnClickModal: false,
        type: "warning"
      })
        .then(() => {
          console.log("delete image");
          if (this.currentImageRow.status != 0) {
            groupPushManager
              .deleteOneFile(file.id, 2)
              .then(res => {
                this.$message.success("删除成功");
              })
              .catch(err => {
                console.error(err);
              });
          } else {
            this.$message.error("该消息已经推送,无法删除图片");
            return false;
          }
        })
        .catch(() => {
          this.imageFileList.splice(this.imageFileList.indexOf(file), 1, file);
        });
    },
    removeFile: function(file, fileList) {
      console.log("delete file");
      if (this.currentImageRow.status != 0) {
        groupPushManager
          .deleteOneFile(file.id, 2)
          .then(res => {
            this.$message.success("删除成功");
          })
          .catch(err => {
            this.$message.error("删除失败");
            console.error(err);
            this.fullscreenLoading = false;
          });
      } else {
        this.$message.error("该消息已经推送,无法删除文件");
        return false;
      }
    },
    getList: function() {
      var queryData = [];
      if (this.searchDate.length > 1 && this.searchDate[1]) {
        var date1 = parseTime(this.searchDate[0], "{y}-{m}-{d} {h}:{i}:{s}");
        var date2 = new Date(this.searchDate[1]);
        var date3 = parseTime(
          date2.setDate(date2.getDate() + 1),
          "{y}-{m}-{d} {h}:{i}:{s}"
        );
        queryData.push({
          field: "pushTime",
          Type: "String",
          op: "$gte",
          value: [date1]
        });
        queryData.push({
          field: "pushTime",
          Type: "String",
          op: "$lt",
          value: [date3]
        });
      }
      if (this.listTpId) {
        queryData.push({
          field: "tplID",
          Type: "String",
          op: "$eq",
          value: [this.listTpId]
        });
      }
      if (this.listlabelId) {
        queryData.push({
          field: "labelID",
          Type: "String",
          op: "$eq",
          value: [this.listlabelId]
        });
      }
      if (this.pushStatus) {
        queryData.push({
          field: "status",
          Type: "String",
          op: "$eq",
          value: [this.pushStatus]
        });
      }
      this.listData = [];
      groupPushManager
        .getList(
          this.pageSize,
          this.currentPage,
          this.searchFieldValue || "",
          queryData
        )
        .then(res => {
          console.log(res.data.rows);
          this.listData = res.data.rows;
          this.total = res.data.count;
        })
        .catch(err => {
          console.error(err);
          this.fullscreenLoading = false;
        });
    },
    search: function() {
      this.getList();
    },
    getGroupList: function() {
      groupPushManager
        .getGroupList(100, 1)
        .then(res => {
          console.log(res);
          this.arrLabels = [
            {
              value: 0,
              label: "请选择"
            }
          ];
          for (var i = 0; i < res.data.rows.length; i++) {
            this.labelOptions.push({
              value: res.data.rows[i].id,
              label: res.data.rows[i].name
            });
            this.arrLabels.push({
              value: res.data.rows[i].id,
              label: res.data.rows[i].name
            });
          }
        })
        .catch(err => {
          console.error(err);
        });
    },
    getTmeplates: function() {
      this.templateOptions = [];
      groupPushManager
        .getTmepalteList(this.pageSize, this.currentPage)
        .then(res => {
          console.log(res);
          for (var i = 0; i < res.data.rows.length; i++) {
            this.templateOptions.push({
              value: res.data.rows[i].id,
              label: res.data.rows[i].title,
              paramList: res.data.rows[i].paramList
            });
          }
          this.arrOptions = [{ value: 0, label: "全部" }].concat(
            this.templateOptions
          );
          this.sendArr = [{ value: 0, label: "全部" }].concat(this.sendArr);
        })
        .catch(err => {
          console.error(err);
          this.fullscreenLoading = false;
        });
    },
    showAddDialog: function() {
      this.addDialogVisible = true;
      setTimeout(() => {
        this.$refs["ruleForm"].resetFields(); //可以清除验证
        this.ruleForm = {
          id: 0,
          title: "",
          customID: "",
          orderID: "",
          labelID: "",
          tplID: "",
          uploadInventory: "",
          pushAttach: "",
          paramList: []
        };
      }, 0.0001);
    },
    add: function() {
      this.$refs["ruleForm"].validate(valid => {
        if (valid) {
          this.fullscreenLoading = true;
          var params = {};
          this.ruleForm.paramList.forEach(x => {
            console.log(x);
            params[x.key] = { label: x.txt, value: x.value };
          });
          var data = {
            labelID: this.ruleForm.labelID,
            tplID: this.ruleForm.tplID,
            params: params
          };
          console.log("添加模板类型数据");
          console.log(data);
          groupPushManager
            .add(data)
            .then(response => {
              console.log(response);
              this.fullscreenLoading = false;
              this.addDialogVisible = false;
              this.getList();
            })
            .catch(err => {
              console.error(err);
              this.fullscreenLoading = false;
            });
        }
      });
    },
    showEditDialog: function(index, row) {
      this.editCurrentRow = row;
      var item = this.templateOptions.find(x => x.value == row.tplID);
      this.editform.paramList = [];
      if (item) {
        let params = JSON.parse(row.params);
        item.paramList.forEach(x => {
          this.editform.paramList.push({
            value: params[x.key].value,
            key: x.key,
            txt: x.label
          });
        });
      }
      this.editform.id = row.id;
      this.editform.labelID = row.labelID;
      this.editform.tplID = row.tplID;
      this.editDialogVisible = true;
    },
    edit: function() {
      this.$refs["editform"].validate(valid => {
        if (valid) {
          this.fullscreenLoading = true;
          var params = {};
          this.editform.paramList.forEach(x => {
            console.log(x);
            params[x.key] = { label: x.txt, value: x.value };
          });
          var data = {
            id: this.editform.id,
            tplID: this.editform.tplID,
            labelID: this.editform.labelID,
            params: params
          };
          groupPushManager
            .edit(data)
            .then(response => {
              console.log(response);
              this.fullscreenLoading = false;
              this.editDialogVisible = false;
              this.getList();
            })
            .catch(err => {
              console.error(err);
              this.fullscreenLoading = false;
            });
        }
      });
    },
    pushOne: function(id) {
      this.fullscreenLoading = true;
      groupPushManager
        .push(id)
        .then(response => {
          console.log(response);
          this.fullscreenLoading = false;
          this.$message.success("推送成功！");
          this.getList();
        })
        .catch(err => {
          console.error(err);
          this.fullscreenLoading = false;
        });
    },
    batchPush: function() {
      if (this.selectColumns.length === 0) {
        this.$message.warning("请至少选中一项要推送数据");
        return false;
      }
      var idArry = [];
      var error = 0;
      this.selectColumns.forEach(x => {
        if (x.status === 0) {
          error++;
          return false;
        }
        idArry.push(x.id);
      });
      if (error > 0) {
        this.$message.warning("无法重复推送");
        return false;
      }
      this.fullscreenLoading = true;
      groupPushManager
        .push(idArry.join("|"))
        .then(response => {
          console.log(response);
          this.fullscreenLoading = false;
          this.$message.success("推送成功");
          this.getList();
        })
        .catch(err => {
          this.fullscreenLoading = false;
          this.$message.error("推送失败！");
          console.error(err);
          this.fullscreenLoading = false;
        });
    },
    deleteOne: function(id) {
      this.$confirm("您确定要删除该条记录？删除后无法恢复", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.fullscreenLoading = true;
          groupPushManager
            .deleteUser(id)
            .then(response => {
              console.log(response);
              this.fullscreenLoading = false;
              this.$message.success("删除成功！");
              this.getList();
            })
            .catch(err => {
              console.error(err);
              this.fullscreenLoading = false;
            });
        })
        .catch(() => {});
    },
    batchDelete: function() {
      if (this.selectColumns.length === 0) {
        this.$message.warning("请至少选中一项要删除数据");
        return false;
      }
      this.$confirm("您确定要删除选中的记录？删除后无法恢复", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          var idArry = [];
          this.fullscreenLoading = true;
          this.selectColumns.forEach(x => {
            idArry.push(x.id);
          });
          groupPushManager
            .deleteUser(idArry.join("|"))
            .then(response => {
              console.log(response);
              this.fullscreenLoading = false;
              this.$message.success("删除成功！");
              this.uploadDialogClose();
              this.getList();
            })
            .catch(err => {
              console.error(err);
              this.fullscreenLoading = false;
            });
        })
        .catch(() => {});
    },
    handleSelectionChange(selection) {
      this.selectColumns = selection;
    },
    handleSizeChange(val) {
      this.pageSize = val;
      this.getList();
    },
    handleCurrentChange(val) {
      this.currentPage = val;
      this.getList();
    },
    handleRemove(file, fileList) {
      console.log(file, fileList);
    },
    handlePreview(file) {
      console.log(file);
    },
    showMsg: function(row) {
      this.dialogMsgVisible = true;
      this.msgInfo = [];
      this.tmepateTitle = row.template.title;
      this.msgInfo = JSON.parse(row.params);
      for (var key in this.msgInfo) {
        console.log(key + ":" + this.msgInfo[key]);
      }
    },
    tempalteChange: function(val) {
      console.log(val);
      var item = this.templateOptions.find(x => x.value == val);
      this.ruleForm.paramList = [];
      if (item) {
        item.paramList.forEach(x => {
          this.ruleForm.paramList.push({
            value: x.default,
            key: x.key,
            txt: x.label
          });
        });
      }
    },
    editTemplateChange: function(val) {
      if (val == this.editCurrentRow.tplID) {
        var item = this.templateOptions.find(
          x => x.value == this.editCurrentRow.tplID
        );
        this.editform.paramList = [];
        if (item) {
          let params = JSON.parse(this.editCurrentRow.params);
          item.paramList.forEach(x => {
            this.editform.paramList.push({
              value: params[x.key].value,
              key: x.key,
              txt: x.label
            });
          });
        }
      } else {
        var item = this.templateOptions.find(x => x.value == val);
        this.editform.paramList = [];
        if (item) {
          item.paramList.forEach(x => {
            this.editform.paramList.push({
              value: x.default,
              key: x.key,
              txt: x.label
            });
          });
        }
      }
    },
    copyFile: function() {
      var that = this;
      document
        .getElementById("copyFileInput")
        .addEventListener("paste", function(e) {
          var clipboardData = e.clipboardData,
            i = 0,
            items,
            item,
            types;

          if (clipboardData) {
            items = clipboardData.items;

            if (!items) {
              return;
            }

            item = items[0];
            types = clipboardData.types || [];

            for (; i < types.length; i++) {
              if (types[i] === "Files") {
                item = items[i];
                break;
              }
            }

            if (item && item.kind === "file" && item.type.match(/^image\//i)) {
              var blob = item.getAsFile(),
                reader = new FileReader();

              reader.onload = function(event) {
                var img = new Image();
                img.onload = function(event) {
                  that.compress(img, function(e, dataURL) {
                    img.setAttribute("class", "copyFileImg");
                    console.log(that.currentCopyImg);
                  });
                };
                that.currentCopyImg = event.target.result;
                img.src = event.target.result;
                document.getElementById("copyFileDiv").innerHTML = "";
                document.getElementById("copyFileDiv").appendChild(img);
              };
              reader.readAsDataURL(blob);
            }
          }
        });
    },
    compress: function(img, callback) {
      var canvas = document.createElement("CANVAS");
      var ctx = canvas.getContext("2d");
      var width = img.width;
      var height = img.height;
      // 按比例压缩
      var rate = width < height ? width / height : height / width;
      canvas.width = width * rate;
      canvas.height = height * rate;
      ctx.drawImage(
        img,
        0,
        0,
        width,
        height,
        0,
        0,
        width * rate,
        height * rate
      );
      var dataURL = canvas.toDataURL("image/png");
      callback(this, dataURL);
      canvas = null;
    }
  }
};
</script>
<style>
.copyFileImg {
  width: 146px;
  height: 146px;
}

.detialTable {
  border-right: 1px solid #dfe6ec;
  border-bottom: 1px solid #dfe6ec;
  width: 100%;
}

.detialTable td {
  border-left: 1px solid #dfe6ec;
  border-top: 1px solid #dfe6ec;
  min-height: 40px;
  padding-left: 10px;
  line-height: 40px;
}

.detialTable tr :first-child {
  background-color: #eef1f6;
  width: 100px;
}

.el-table .info-row {
  background: #a2dafa;
}

.el-table .default-row {
  background: #ffffff;
}
.el-icon-view {
  padding-right: 20px;
}
</style>

