<template>
    <div>
        <div class="table-toolbar">
            <el-input style="width:200px;" placeholder="请输入昵称" v-model="inputKeyword" @keyup.enter.native="search"></el-input>
            <el-button type="info" icon="search" @click="search()">搜索</el-button>
            <el-button type="info" @click="syncFans()">同步粉丝</el-button>
        </div>
        <div class="table-container">
            <el-table :data="viewData" border style="width: 100%" v-loading.lock="fullscreenLoading " element-loading-text="Loading">
                <el-table-column :show-overflow-tooltip="true" prop="nickname" label="昵称">
                    <template scope="scope">
                        <div style="display:flex;align-items:center">
                            <img v-bind:src="scope.row.headImgUrl" style="width:30px;height:30px;margin-top:5px;border-radius: 50%;">
                            <span style="line-height: 40px;padding-left: 10px;">{{scope.row.nickname}}</span>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column :show-overflow-tooltip="true" prop="openID" label="OpenId">
                </el-table-column>
                <el-table-column :show-overflow-tooltip="true" prop="sex" label="性别">
                    <template scope="scope">
                        {{scope.row.sex==1?'男':'女'}}
                    </template>
                </el-table-column>
                <el-table-column :show-overflow-tooltip="true" label="地址">
                    <template scope="scope">
                        <span v-if="scope.row.province!=''&&scope.row.city!=''">
                            {{`${scope.row.country}-${scope.row.province}-${scope.row.city}`}}
                        </span>
                        <span v-else-if="scope.row.city==''&& scope.row.province!=''">
                            {{`${scope.row.country}-${scope.row.province}`}}
                        </span>
                        <span v-else-if="scope.row.province==''&& scope.row.city!=''">
                            {{`${scope.row.country}-${scope.row.city}`}}
                        </span>
                        <span v-else-if="scope.row.province==''&& scope.row.city==''">
                            {{`${scope.row.country}`}}
                        </span>
                    </template>
                </el-table-column>
            </el-table>
            <el-row class="pagination-row">
                <el-col v-bind:span="24" style="text-align: left;">
                    <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" v-bind:current-page="currentPage" v-bind:page-sizes="pageSizes" v-bind:page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" v-bind:total="total">
                    </el-pagination>
                </el-col>
            </el-row>
        </div>
    </div>
</template>
<script>
import FansApi from 'api/fansApi';
export default {
    data() {
        return {
            viewData: [],
            inputKeyword: '',
            currentPage: 1,
            pageSizes: [10, 20, 50, 100],
            pageSize: 10,
            total: 0,
            fullscreenLoading: false,
        }
    },
    created: function() {
        this.getFansList();
    },
    mounted: function() { },
    methods: {
        getFansList: function() {
            this.fullscreenLoading = true;
            FansApi.getFansList(this.pageSize, this.currentPage, this.inputKeyword).then((res) => {
                this.viewData = res.data.rows;
                this.total = res.data.count;
                this.fullscreenLoading = false;
            }).catch((err)=> {
                console.error(err);
                this.fullscreenLoading = false;
            })
        },
        //搜索事件
        search: function() {
            this.fullscreenLoading = true;
            this.viewData = [];
            this.currentPage = 1;
            this.getFansList();
        },
        //同步粉丝
        syncFans: function() {
            this.fullscreenLoading = true;
            FansApi.syncFans().then((res) => {
                this.fullscreenLoading = false;
                this.$message.success('同步粉丝成功!');
                this.currentPage = 1;
                this.viewData = [];
                this.getFansList();
            }).catch((err)=> {
                console.error(err);
                this.fullscreenLoading = false;
            })
        },
        handleSizeChange(val) {
            this.pageSize = val;
            this.getFansList();
        },
        handleCurrentChange(val) {
            this.currentPage = val;
            this.getFansList();
        }
    }
}
</script>
