<template>
    <div>
        <div class="table-toolbar">
            <el-select v-model="itemValue" @change="selectChange">
                <el-option v-for="item in items" :key="item.value" :label="item.label" :value="item.value">
                </el-option>
            </el-select>
            <el-input style="margin-left: 5px;width:250px" placeholder="请输入搜索内容" v-model="inputKeyword" @keyup.enter.native="searchMember"></el-input>
            <el-button style="margin-left: 10px;" type="info" icon="search" @click="searchMember()">搜索</el-button>

            <el-button style="margin-left: 10px;" type="info" icon="plus" @click="addMemberDialog()">添加</el-button>
            <el-button style="margin-left: 10px;" type="info" @click="setGroupMember()">会员分组设置</el-button>
        </div>
        <div class="table-container">
            <el-table :data="memberData" border style="width: 100%" v-loading.lock="fullscreenLoading " element-loading-text="Loading">
                <el-table-column prop="nickname" label="昵称" min-width="120px" :show-overflow-tooltip="true">
                    <template scope="scope">
                        <div style="display:flex;align-items:center">
                            <img v-show="scope.row.fan.headImgUrl" v-bind:src="(scope.row.fan||{headImgUrl:''}).headImgUrl" style="width:30px;height:30px;margin-top:5px;border-radius: 50%;">
                            <el-button type="text" style="line-height: 40px;padding-left: 10px;" @click="watchMember(scope.$index, scope.row)">{{(scope.row.fan||{nickname:''}).nickname}}</el-button>
                        </div>
</template>
                </el-table-column>
                <el-table-column prop="memberNo" label="会员编号">
                </el-table-column>
                <el-table-column prop="companyName" label="公司/商铺名称" min-width="100px" :show-overflow-tooltip="true">
                </el-table-column>
                <el-table-column label="分组" :show-overflow-tooltip="true">
<template scope="scope">
    <span v-if="scope.row.label">
        {{scope.row.label.name}}</span>
</template>
                </el-table-column>
                <el-table-column prop="contacts" label="联系人" :show-overflow-tooltip="true">
                </el-table-column>
                <el-table-column prop="mobile" label="联系电话" min-width="100px">
                </el-table-column>
                <el-table-column prop="address" label="地址" :show-overflow-tooltip="true">
                </el-table-column>
                 <el-table-column prop="isBusi" label="业务关系" :show-overflow-tooltip="true" align="center">
                   <template scope="scope"> 
                     <template v-if="scope.row.isBusi==true">是</template>
                     <template v-else>否</template>
                   </template>
                </el-table-column>
                <el-table-column label="操作" align="center" min-width="120px">
<template scope="scope">
    <el-button type="text" @click="showBandingMember(scope.$index, scope.row)" v-if="scope.row.openID=='openid'">
        绑定</el-button>
    <el-button type="text" @click="UnBandingOpenId(scope.$index, scope.row)" v-else>
        解除绑定</el-button>
    <el-button type="text" @click="editMember(scope.$index, scope.row)">
        编辑</el-button>
    <el-button type="text" @click="deleteMember(scope.$index, scope.row)">删除</el-button>
</template>
                </el-table-column>
            </el-table>
            <el-row class="pagination-row">
                <el-col v-bind:span="24" style="text-align: left;">
                    <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" v-bind:current-page="currentPage" v-bind:page-sizes="pageSizes" v-bind:page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" v-bind:total="total">
                    </el-pagination>
                </el-col>
            </el-row>
        </div>

        <el-dialog title="绑定粉丝" v-bind:visible.sync="bandingDialogFormVisible" @close="bandingCloseDialog" size="small" top="10%">
            <div>
                <el-row style="padding:10px">
                    <el-col :span="12">会员编号：{{bindCurrentRow.memberNo}} </el-col>
                    <el-col :span="12">公司/商铺名称：{{bindCurrentRow.companyName}} </el-col>
                </el-row>
                <div class="table-toolbar">
                    <el-input style="width:200px;" placeholder="请输入昵称" v-model="fanKeyword"></el-input>
                    <el-button type="info" icon="search" @click="searchFans()">搜索</el-button>
                </div>
                <div class="table-container">
                    <el-table :data="fansData" border style="width: 100%" v-loading.lock="fanLoading " element-loading-text="Loading">
                        <el-table-column :show-overflow-tooltip="true" prop="nickname" label="昵称">
<template scope="scope">
    <div style="display:flex;align-items:center">
        <img v-bind:src="scope.row.headImgUrl" style="width:30px;height:30px;margin-top:5px;border-radius: 50%;">
        <span style="line-height: 40px;padding-left: 10px;">{{scope.row.nickname}}</span>
    </div>
</template>
                        </el-table-column>
                        <el-table-column :show-overflow-tooltip="true" prop="openID" label="OpenId">
                        </el-table-column>
                        <el-table-column :show-overflow-tooltip="true" prop="sex" label="性别">
<template scope="scope">
     {{scope.row.sex==1?'男':'女'}}
</template>
                        </el-table-column>
                        <el-table-column :show-overflow-tooltip="true" label="地址">
<template scope="scope">
    <span v-if="scope.row.province!=''&&scope.row.city!=''">
        {{`${scope.row.country}-${scope.row.province}-${scope.row.city}`}}
    </span>
    <span v-else-if="scope.row.city==''&& scope.row.province!=''">
        {{`${scope.row.country}-${scope.row.province}`}}
    </span>
    <span v-else-if="scope.row.province==''&& scope.row.city!=''">
        {{`${scope.row.country}-${scope.row.city}`}}
    </span>
    <span v-else-if="scope.row.province==''&& scope.row.city==''">
        {{`${scope.row.country}`}}
    </span>
</template>

                        </el-table-column>
                        <el-table-column label="操作" align="center" style="width:20%">
<template scope="scope">
    <el-button type="text" @click="bandingMember(scope.row.openID)">
        绑定</el-button>
</template>
                        </el-table-column>
                    </el-table>
                    <el-row class="pagination-row">
                        <el-col v-bind:span="24" style="text-align: left;">
                            <el-pagination @size-change="handleFanSizeChange" @current-change="handleFanCurrentChange" v-bind:current-page="fanCurrentPage" v-bind:page-sizes="fanPageSizes" v-bind:page-size="fanPageSize" layout="total, sizes, prev, pager, next, jumper" v-bind:total="fanTotal">
                            </el-pagination>
                        </el-col>
                    </el-row>
                </div>
            </div>
        </el-dialog>

        <el-dialog class="cus-dialog" title="添加" v-bind:visible.sync="addDialogFormVisible" @close="addCancle" size="small" top="2%">
            <el-form v-bind:model="addForm" v-bind:rules="rules" :inline="true" ref="addForm" label-width="80px" label-position="left">
                <el-form-item label="公司/商铺名称" prop="companyName">
                    <div>
                        <el-input style="width:250px" v-model="addForm.companyName" auto-complete="off" placeholder=""></el-input>
                    </div>
                </el-form-item>
                <el-form-item label="联系人" prop="contacts">
                    <div>
                        <el-input style="width:250px" v-model="addForm.contacts" placeholder=""></el-input>
                    </div>
                </el-form-item>
                <el-form-item label="联系电话" prop="mobile">
                    <div>
                        <el-input style="width:250px" v-model="addForm.mobile" auto-complete="off" placeholder=""></el-input>
                    </div>
                </el-form-item>
                <el-form-item label="联系地址" prop="address">
                    <div>
                        <el-input style="width:250px" v-model="addForm.address" auto-complete="off" placeholder=""></el-input>
                    </div>
                </el-form-item>
                <el-form-item label="分组" prop="industryID">
                    <el-select v-model="addForm.industryID" prop="industryID" style="width:250px">
                        <el-option v-for="item in addIndustryItems" :key="item.value" :label="item.label" :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>
                 <el-form-item label="产品介绍" prop="companyDesc">
                  <div>
                      <el-input v-model="addForm.companyDesc" type="textarea" auto-complete="off" @change="onVlaueChange()" style="width:250px"></el-input>
                  </div>
                </el-form-item>
                 <div style="margin-top:15px;margin-bottom:15px;margin-left:10px">
                    <el-checkbox v-model="addChecked" @change="addCheckboxChange">和本公司已有业务关系</el-checkbox>
                </div>

                <el-row v-if="isAddShow">
                <el-form-item label="开户银行" prop="openBank">
                    <div>
                        <el-input style="width:250px" v-model="addForm.openBank" auto-complete="off" @change="onVlaueChange" placeholder=""></el-input>
                    </div>
                </el-form-item>
                <el-form-item label="开户支行" prop="openBranch">
                    <div>
                        <el-input style="width:250px" v-model="addForm.openBranch" auto-complete="off"></el-input>
                    </div>
                </el-form-item>
                <el-form-item label="开户名称" prop="openName">
                    <div>
                        <el-input style="width:250px" v-model="addForm.openName" auto-complete="off"></el-input>
                    </div>
                </el-form-item>
                <el-form-item label="银行账号" prop="bankNo">
                    <div>
                        <el-input style="width:250px" v-model="addForm.bankNo" auto-complete="off"></el-input>
                    </div>
                </el-form-item>
                </el-row>

                <el-row v-if="!isAddShow">
                <el-form-item label="开户银行" prop="openBank1">
                    <div>
                        <el-input style="width:250px" v-model="addForm.openBank1" auto-complete="off" @change="onVlaueChange" placeholder=""></el-input>
                    </div>
                </el-form-item>
                <el-form-item label="开户支行" prop="openBranch1">
                    <div>
                        <el-input style="width:250px" v-model="addForm.openBranch1" auto-complete="off"></el-input>
                    </div>
                </el-form-item>
                <el-form-item label="开户名称" prop="openName1">
                    <div>
                        <el-input style="width:250px" v-model="addForm.openName1" auto-complete="off"></el-input>
                    </div>
                </el-form-item>
                <el-form-item label="银行账号" prop="bankNo1">
                    <div>
                        <el-input style="width:250px" v-model="addForm.bankNo1" auto-complete="off"></el-input>
                    </div>
                </el-form-item>
                </el-row>
                
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="addSave()">确定</el-button>
                <el-button @click="addCancle()">取消</el-button>
            </div>
        </el-dialog>

        <el-dialog class="cus-dialog" title="编辑" v-bind:visible.sync="dialogFormVisible" @close="closeDialog" size="small" top="2%">
            <el-form v-bind:model="ruleForm" v-bind:rules="rules" :inline="true" ref="ruleForm" label-width="80px" label-position="left">
                 <el-form-item label="会员编号" prop="memberNo">
                    <div>
                        <el-input style="width:250px" v-model="ruleForm.memberNo" disabled auto-complete="off"></el-input>
                    </div>
                </el-form-item> 
                <el-form-item label="公司/商铺名称" prop="companyName">
                    <div>
                        <el-input style="width:250px" v-model="ruleForm.companyName" auto-complete="off" placeholder=""></el-input>
                    </div>
                </el-form-item>
                <el-form-item label="联系人" prop="contacts">
                    <div>
                        <el-input style="width:250px" v-model="ruleForm.contacts" placeholder=""></el-input>
                    </div>
                </el-form-item>
                <el-form-item label="联系电话" prop="mobile">
                    <div>
                        <el-input style="width:250px" v-model="ruleForm.mobile" auto-complete="off" placeholder=""></el-input>
                    </div>
                </el-form-item>
                <el-form-item label="联系地址" prop="address">
                    <div>
                        <el-input style="width:250px" v-model="ruleForm.address" auto-complete="off" placeholder=""></el-input>
                    </div>
                </el-form-item>
                <el-form-item label="分组" prop="industryID">
                    <el-select v-model="ruleForm.industryID" style="width:250px">
                        <el-option v-for="item in industryItems" :key="item.value" :label="item.label" :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="具体产品" prop="companyDesc">
                  <div>
                      <el-input v-model="ruleForm.companyDesc" type="textarea" auto-complete="off" @change="onVlaueChange()" style="width:250px"></el-input>
                  </div>
                </el-form-item>
                <div  style="margin-top:15px;margin-bottom:15px;margin-left:10px">
                    <el-checkbox v-model="editChecked" @change="editCheckboxChange">和本公司已有业务关系</el-checkbox>
                </div>

                <el-row v-if="isEditShow">
                <el-form-item label="开户银行" prop="openBank">
                    <div>
                        <el-input style="width:250px" v-model="ruleForm.openBank" auto-complete="off" @change="onVlaueChange" placeholder=""></el-input>
                    </div>
                </el-form-item>
                <el-form-item label="开户支行" prop="openBranch">
                    <div>
                        <el-input style="width:250px" v-model="ruleForm.openBranch" auto-complete="off"></el-input>
                    </div>
                </el-form-item>
                <el-form-item label="开户名称" prop="openName">
                    <div>
                        <el-input style="width:250px" v-model="ruleForm.openName" auto-complete="off"></el-input>
                    </div>
                </el-form-item>
                <el-form-item label="银行账号" prop="bankNo">
                    <div>
                        <el-input style="width:250px" v-model="ruleForm.bankNo" auto-complete="off"></el-input>
                    </div>
                </el-form-item>
                </el-row>

                <el-row v-if="!isEditShow">
                <el-form-item label="开户银行" prop="openBank1">
                    <div>
                        <el-input style="width:250px" v-model="ruleForm.openBank1" auto-complete="off" @change="onVlaueChange" placeholder=""></el-input>
                    </div>
                </el-form-item>
                <el-form-item label="开户支行" prop="openBranch1">
                    <div>
                        <el-input style="width:250px" v-model="ruleForm.openBranch1" auto-complete="off"></el-input>
                    </div>
                </el-form-item>
                <el-form-item label="开户名称" prop="openName1">
                    <div>
                        <el-input style="width:250px" v-model="ruleForm.openName1" auto-complete="off"></el-input>
                    </div>
                </el-form-item>
                <el-form-item label="银行账号" prop="bankNo1">
                    <div>
                        <el-input style="width:250px" v-model="ruleForm.bankNo1" auto-complete="off"></el-input>
                    </div>
                </el-form-item>
                </el-row>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="editSave()">保存</el-button>
                <el-button @click="editReset('ruleForm')">重置</el-button>
            </div>
        </el-dialog>

        <el-dialog title="查看详情" v-bind:visible.sync="seeDialogFormVisible" @close="back" size="small" top="2%">
            <div style="text-align: center">
                <img v-bind:src="bindCurrentRow.fan && bindCurrentRow.fan.headImgUrl" style="width:80px;height:80px;border-radius: 50%;">
            </div>
            <div style="text-align: center; margin-top:5px">
                <span>{{bindCurrentRow.fan && bindCurrentRow.fan.nickname}}</span>
            </div>

            <table class="detialTable">
                <tr>
                    <td>会员编号</td>
                    <td>{{bindCurrentRow.memberNo}}</td>
                </tr>
                <tr>
                    <td style="width:100px;">公司/商铺名称</td>
                    <td>{{bindCurrentRow.companyName}}</td>
                </tr>
                <tr>
                    <td style="width:100px;">分组</td>
                    <td>{{bindCurrentRow.label && bindCurrentRow.label.name}}</td>
                </tr>
                 <tr>
                    <td style="width:100px;">产品介绍</td>
                    <td>{{bindCurrentRow.companyDesc}}</td>
                </tr>
                <tr>
                    <td style="width:100px;">联系人</td>
                    <td>{{bindCurrentRow.contacts}}</td>
                </tr>
                <tr>
                    <td style="width:100px;">联系电话</td>
                    <td>{{bindCurrentRow.mobile}}</td>
                </tr>
                <tr>
                    <td style="width:100px;">联系地址</td>
                    <td>{{bindCurrentRow.address}}</td>
                </tr>
                   <tr>
                    <td style="width:100px;">和本公司已有业务关系</td>
                    <td v-if="bindCurrentRow.isBusi==true">
                     是
                    </td>
                    <td v-else>否</td>
                </tr>
                <tr>
                    <td style="width:100px;">开户银行</td>
                    <td>{{bindCurrentRow.openBank}}</td>
                </tr>
                <tr v-if="bindCurrentRow.openBranch">
                    <td style="width:100px;">开户支行</td>
                    <td>{{bindCurrentRow.openBranch}}</td>
                </tr>
                <tr v-if="bindCurrentRow.openName">
                    <td style="width:100px;">开户名称</td>
                    <td>{{bindCurrentRow.openName}}</td>
                </tr>
                <tr v-if="bindCurrentRow.bankNo">
                    <td style="width:100px;">银行账号</td>
                    <td>{{bindCurrentRow.bankNo}}</td>
                </tr>
            </table>
            <div slot="footer">
                <el-button @click="back()">返回</el-button>
            </div>
        </el-dialog>

    </div>
</template>

<script>
import FansApi from "api/fansApi";
import customerManager from "api/customerManager";
export default {
  data() {
    return {
      isAddShow: false,
      addChecked: false,
      isEditShow: false,
      editChecked: false,

      memberData: [],
      items: [
        {
          value: "",
          label: "请选择搜索条件"
        },
        {
          value: "memberNo",
          label: "会员编号"
        },
        {
          value: "companyName",
          label: "公司/商铺名称"
        },
        {
          value: "industryID",
          label: "分组"
        },
        {
          value: "contacts",
          label: "联系人"
        }
      ],
      industryItems: [],
      ruleForm: {
        id: 0,
        memberNo: "",
        companyName: "",
        contacts: "",
        mobile: "",
        address: "",
        industryID: Number,
        openBank: "",
        openBranch: "",
        openName: "",
        bankNo: "",
        openBank1: "",
        openBranch1: "",
        openName1: "",
        bankNo1: "",
        bankTips: "",
        companyDesc: ""
      },
      addForm: {
        id: 0,
        companyName: "",
        contacts: "",
        mobile: "",
        address: "",
        industryID: Number,
        openBank: "",
        openBranch: "",
        openName: "",
        bankNo: "",
        openBank1: "",
        openBranch1: "",
        openName1: "",
        bankNo1: "",
        bankTips: "",
        companyDesc: ""
      },
      rules: {
        memberNo: {
          required: true
        },
        companyName: {
          required: true,
          validator: (rule, value, callback) => {
            if (value) {
              if (!/^.{1,30}$/.test(value)) {
                return callback("请输入规范的公司名称");
              } else return callback();
            } else {
              return callback("请输入公司/商铺名称");
            }
          },
          trigger: "change"
        },
        contacts: {
          required: true,
          validator: (rule, value, callback) => {
            if (value) {
              if (!/^.{1,30}$/.test(value)) {
                return callback("请输入正确的联系人");
              } else return callback();
            } else {
              return callback("请输入联系人");
            }
          },
          trigger: "change"
        },
        mobile: {
          required: true,
          message: "请输入联系电话",
          trigger: "change"
        },
        address: {
          required: true,
          validator: (rule, value, callback) => {
            if (value) {
              if (!/^.{1,100}$/.test(value)) {
                return callback("请输入正确的联系地址");
              } else return callback();
            } else {
              return callback("请输入联系地址");
            }
          },
          trigger: "change"
        },
        openBank: {
          required: true,
          validator: (rule, value, callback) => {
            if (value) {
              if (!/^.{1,15}$/.test(value)) {
                return callback("请输入正确的开户行");
              } else return callback();
            } else {
              return callback("请输入开户行");
            }
          },
          trigger: "change"
        },
        openBranch: {
          required: true,
          message: "请输入开户支行",
          trigger: "change"
        },
        openName: {
          required: true,
          message: "请输入开户名称",
          trigger: "change"
        },
        bankNo: {
          required: true,
          message: "请输入银行账号",
          trigger: "change"
        },
        openBank1: {
          required: false,
          message: "请输入开户行",
          trigger: "change"
        },
        openBranch1: {
          required: false,
          message: "请输入开户支行",
          trigger: "change"
        },
        openName1: {
          required: false,
          message: "请输入开户名称",
          trigger: "change"
        },
        bankNo1: {
          required: false,
          message: "请输入银行账号",
          trigger: "change"
        },
        industryID: {
          required: true,
          message: "请选择分组",
          trigger: "change",
          type: "number"
        },
        companyDesc: {
          required: false,
          message: "请填写具体产品描述",
          trigger: "change"
        }
      },
      itemValue: "",
      inputKeyword: "",
      dialogFormVisible: false,
      fullscreenLoading: false,
      currentPage: 1,
      pageSizes: [10, 20, 50, 100],
      pageSize: 10,
      total: 0,
      seeDialogFormVisible: false,
      addDialogFormVisible: false,
      loading: false,
      loadingTxt: "数据请求中",
      memberOptions: [],
      addIndustryItems: [],
      bandingDialogFormVisible: false,
      fansData: [],
      fanKeyword: "",
      fanCurrentPage: 1,
      fanPageSizes: [10, 20, 50, 100],
      fanPageSize: 10,
      fanTotal: 0,
      fanLoading: false,
      bindCurrentRow: {}
    };
  },
  created: function() {
    this.getList();
  },
  mounted: function() {
    this.getindustryItems();
  },
  methods: {
    //编辑checkbox 改变状态
    editCheckboxChange: function(val) {
      if (val.target.checked == true) {
        this.isEditShow = true;
        this.editChecked = true;
      } else {
        this.isEditShow = false;
        this.editChecked = false;
      }
    },
    //添加checkbox 改变状态
    addCheckboxChange: function(val) {
      if (val.target.checked == true) {
        this.isAddShow = true;
        this.addChecked = true;
      } else {
        this.isAddShow = false;
        this.addChecked = false;
      }
    },
    remoteMethod: function(query) {
      if (query !== "") {
        setTimeout(() => {
          customerManager
            .getMember(20, query)
            .then(res => {
              this.memberOptions = [];
              var data = res.data.rows;
              for (var i = 0; i < data.length; i++) {
                this.memberOptions.push({
                  label: data[i].nickname,
                  value: data[i].openID
                });
              }
            })
            .catch(err => {
              console.error(err);
            });
        }, 200);
      } else {
        this.memberOptions = [];
      }
    },
    getList: function() {
      var data;
      if (this.itemValue) {
        data = [
          {
            field: this.itemValue,
            Type: "string",
            op: "$like",
            value: [this.inputKeyword]
          }
        ];
      }
      customerManager
        .searchList(this.pageSize, this.currentPage, data)
        .then(res => {
          this.fullscreenLoading = false;
          this.memberData = res.data.rows;
          this.total = res.data.count;
        })
        .catch(err => {
          this.fullscreenLoading = false;
          console.error(err);
        });
    },
    //搜索条件变化
    selectChange: function(val) {
      console.log(val);
    },
    //搜索事件
    searchMember: function() {
      this.getList();
    },
    //添加对话框
    addMemberDialog: function() {
      this.isAddShow = false;
      this.addForm = {};
      setTimeout(() => {
        this.resetAdd();
      });
      this.addDialogFormVisible = true;
    },
    addSave: function() {
      var data = {};
      if (this.addChecked == true) {
        data = {
          id: this.addForm.id,
          memberNo: this.addForm.addMemberNo,
          companyName: this.addForm.companyName,
          industryID: Number(this.addForm.industryID),
          companyDesc: this.addForm.companyDesc,
          isBusi:this.addChecked,
          contacts: this.addForm.contacts,
          mobile: this.addForm.mobile,
          address: this.addForm.address,
          openBank: this.addForm.openBank,
          openBranch: this.addForm.openBranch,
          openName: this.addForm.openName,
          bankNo: this.addForm.bankNo
        };
      } else {
        data = {
          id: this.addForm.id,
          memberNo: this.addForm.addMemberNo,
          companyName: this.addForm.companyName,
          industryID: Number(this.addForm.industryID),
          companyDesc: this.addForm.companyDesc,
          isBusi:this.addChecked,
          contacts: this.addForm.contacts,
          mobile: this.addForm.mobile,
          address: this.addForm.address,
          openBank: this.addForm.openBank1 || "",
          openBranch: this.addForm.openBranch1 || "",
          openName: this.addForm.openName1 || "",
          bankNo: this.addForm.bankNo1 || ""
        };
      }
      this.$refs["addForm"].validate(valid => {
        if (valid) {
          this.fullscreenLoading = true;
          customerManager
            .addMember(data)
            .then(response => {
              console.log(response);
              this.$message.success("添加成功!");
              this.fullscreenLoading = false;
              this.addDialogFormVisible = false;
              this.resetAdd();
              console.log("清空。。。。。。。。。");
              this.getList();
            })
            .catch(err => {
              this.fullscreenLoading = false;
              console.error(err);
            });
        }
      });
    },
    resetAdd: function() {
      this.addForm = {
        id: 0,
        addMemberNo: "",
        companyName: "",
        contacts: "",
        mobile: "",
        address: "",
        industryID: "",
        openBank: "",
        openBranch: "",
        openName: "",
        bankNo: "",
        headImgUrl: ""
      };
      this.$refs["addForm"].resetFields();
    },
    addCancle: function() {
      this.addChecked = false;
      this.resetAdd();
      this.addDialogFormVisible = false;
    },
    //会员分组设置
    setGroupMember: function() {
      this.$router.push({
        path: "/customer/memberGroup"
      });
    },
    //编辑对话框
    editMember: function(index, row) {
      if (row.isBusi == true) {
        this.isEditShow = true;
        this.editChecked = true;
      } else {
        this.isEditShow = false;
        this.editChecked = false;
      }
      this.ruleForm = row;
      this.ruleForm.openBank1 = row.openBank;
      this.ruleForm.openBranch1 = row.openBranch;
      this.ruleForm.openName1 = row.openName;
      this.ruleForm.bankNo1 = row.bankNo;
      this.dialogFormVisible = true;
    },
    deleteMember: function(index, row) {
      this.$confirm("您确定要删除该条记录？删除后无法恢复", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.fullscreenLoading = true;
          var data = {
            id: row.id
          };
          customerManager
            .deleteMember(data)
            .then(response => {
              console.log(response);
              this.$message.success("删除成功!");
              this.fullscreenLoading = false;
              this.getList();
            })
            .catch(err => {
              this.fullscreenLoading = false;
              console.error(err);
            });
        })
        .catch(() => {});
    },

    //获取会员分组分组信息
    getindustryItems: function() {
      this.industryItems = [];
      this.addIndustryItems = [];
      customerManager
        .getLabelList(100, 1)
        .then(response => {
          console.log(response);
          for (var i = 0; i < response.data.rows.length; i++) {
            this.industryItems.push({
              value: response.data.rows[i].id,
              label: response.data.rows[i].name
            });
            this.addIndustryItems.push({
              value: response.data.rows[i].id,
              label: response.data.rows[i].name
            });
          }
        })
        .catch(err => {
          this.fullscreenLoading = false;
          console.error(err);
        });
    },
    //查看对话框
    watchMember: function(index, row) {
      this.seeDialogFormVisible = true;
      this.bindCurrentRow = row;
    },
    //关闭编辑弹框
    closeDialog: function() {
      if (this.$refs["ruleForm"]) {
        this.$refs["ruleForm"].resetFields();
      }
      this.dialogFormVisible = false;
    },
    //保存会员信息
    editSave: function() {
       var data = {};
       if (this.editChecked == true) {
        data = {
          id: this.ruleForm.id,
          memberNo: this.ruleForm.addMemberNo,
          companyName: this.ruleForm.companyName,
          industryID: Number(this.ruleForm.industryID),
          companyDesc: this.ruleForm.companyDesc,
          isBusi:this.editChecked,
          contacts: this.ruleForm.contacts,
          mobile: this.ruleForm.mobile,
          address: this.ruleForm.address,
          openBank: this.ruleForm.openBank,
          openBranch: this.ruleForm.openBranch,
          openName: this.ruleForm.openName,
          bankNo: this.ruleForm.bankNo
        };
      } else {
        data = {
          id: this.ruleForm.id,
          memberNo: this.ruleForm.addMemberNo,
          companyName: this.ruleForm.companyName,
          industryID: Number(this.ruleForm.industryID),
          companyDesc: this.ruleForm.companyDesc,
          isBusi:this.editChecked,
          contacts: this.ruleForm.contacts,
          mobile: this.ruleForm.mobile,
          address: this.ruleForm.address,
          openBank: this.ruleForm.openBank1 || "",
          openBranch: this.ruleForm.openBranch1 || "",
          openName: this.ruleForm.openName1 || "",
          bankNo: this.ruleForm.bankNo1 || ""
        };
      }
      this.$refs["ruleForm"].validate(valid => {
        if (valid) {
          this.fullscreenLoading = true;
          customerManager
            .saveEditUser(data)
            .then(response => {
              console.log(response);
              this.$message.success("编辑成功!");
              this.fullscreenLoading = false;
              this.dialogFormVisible = false;
              this.getList();
            })
            .catch(err => {
              this.fullscreenLoading = false;
              console.error(err);
            });
        }
      });
    },
    //重置会员信息
    editReset: function(formName) {
      if (this.$refs["ruleForm"]) {
        this.$refs["ruleForm"].resetFields();
      }
    },
    back: function() {
      this.seeDialogFormVisible = false;
    },
    //监听输入框值发生变化
    onVlaueChange: function(val) {
      // if (val != '中国农业银行') {
      //     this.rules.openBranch.required = true;
      //     this.rules.openName.required = true;
      //     this.rules.bankNo.required = true;
      // } else {
      //     this.rules.openBranch.required = false;
      //     this.rules.openName.required = false;
      //     this.rules.bankNo.required = false;
      //     setTimeout(() => {
      //         this.$refs['ruleForm'].validateField('openBranch', (m) => { });
      //         this.$refs['ruleForm'].validateField('openName', (m) => { });
      //         this.$refs['ruleForm'].validateField('bankNo', (m) => { });
      //     }, 0.1)
      // }
    },
    handleSizeChange(val) {
      this.pageSize = val;
      this.searchMember();
    },
    handleCurrentChange(val) {
      this.currentPage = val;
      this.searchMember();
    },
    showBandingMember: function(index, row) {
      this.bindCurrentRow = row;
      this.fanKeyword = "";
      this.getFansList();
      this.bandingDialogFormVisible = true;
    },
    UnBandingOpenId: function(index, row) {
      this.fullscreenLoading = true;
      var data = {
        id: row.id,
        openid: row.openID
      };
      customerManager
        .unBind(data)
        .then(response => {
          console.log(response);
          this.$message.success("解除绑定成功!");
          this.bandingDialogFormVisible = false;
          this.fullscreenLoading = false;
          this.getList();
        })
        .catch(err => {
          this.fullscreenLoading = false;
          console.error(err);
        });
    },
    bandingCloseDialog: function(forname) {
      this.bandingDialogFormVisible = false;
    },
    bandingMember: function(openID) {
      this.fanLoading = true;
      var data = {
        id: this.bindCurrentRow.id,
        openID: openID
      };
      customerManager
        .bind(data)
        .then(response => {
          console.log(response);
          this.$message.success("绑定成功!");
          this.bandingDialogFormVisible = false;
          this.fanLoading = false;
          this.getList();
        })
        .catch(err => {
          this.fanLoading = false;
          console.error(err);
        });
    },
    getFansList: function() {
      this.fanLoading = true;
      customerManager
        .getUnbindlist(this.fanPageSize, this.fanCurrentPage, this.fanKeyword)
        .then(res => {
          this.fansData = res.data.rows;
          this.fanTotal = res.data.count;
          this.fanLoading = false;
        })
        .catch(err => {
          console.error(err);
          this.fanLoading = false;
        });
    },
    //搜索事件
    searchFans: function() {
      this.fanLoading = true;
      this.fansData = [];
      this.fanCurrentPage = 1;
      this.getFansList();
    },
    handleFanSizeChange(val) {
      this.fanPageSize = val;
      this.getFansList();
    },
    handleFanCurrentChange(val) {
      this.fanCurrentPage = val;
      this.getFansList();
    }
  }
};
</script>

<style>
.detialTable {
  border-right: 1px solid #dfe6ec;
  border-bottom: 1px solid #dfe6ec;
  width: 100%;
}

.detialTable td {
  border-left: 1px solid #dfe6ec;
  border-top: 1px solid #dfe6ec;
  min-height: 40px;
  padding-left: 10px;
  line-height: 40px;
}

.detialTable tr :first-child {
  background-color: #eef1f6;
  width: 160px;
}

.cus-dialog .el-dialog--small {
  width: 45%;
}

@media screen and (max-width: 1600px) {
  .cus-dialog .el-dialog--small {
    width: 58% !important;
  }
}
</style>


