<template>
    <div>
        <div class="table-toolbar">
            <el-input style="width:200px;" placeholder="请输入关键字" v-model="inputKeyword" @keyup.enter.native="search"></el-input>
            <el-button type="info" icon="search" @click="search()">搜索</el-button>
        </div>
        <div class="table-container">
            <el-table :data="viewData" border style="width: 100%" v-loading.lock="fullscreenLoading " element-loading-text="Loading">
                <el-table-column :show-overflow-tooltip=true prop="RequestUri" label="请求地址">
                </el-table-column>
                <el-table-column :show-overflow-tooltip=true prop="Method" label="Method">
                </el-table-column>
                <el-table-column :show-overflow-tooltip=true prop="RequestTime" label="请求时间">
                </el-table-column>
                <el-table-column :show-overflow-tooltip=true prop="HttpStatusCode" label="状态码">
                </el-table-column>
                <el-table-column :show-overflow-tooltip=true prop="Token" label="Token/OpenId">
                </el-table-column>
                <el-table-column align='center' label="操作">
                    <template scope="scope">
                        <el-button type="text" @click="watchDetails(scope.$index, scope.row)">查看</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-row class="pagination-row">
                <el-col v-bind:span="24" style="text-align: left;">
                    <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" v-bind:current-page="currentPage" v-bind:page-sizes="pageSizes" v-bind:page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" v-bind:total="total">
                    </el-pagination>
                </el-col>
            </el-row>
        </div>
        <el-dialog v-bind:visible.sync="dialogFormVisible" title="查看详情" size="small">
            <table class="detialTable">
                <tr>
                    <td>请求地址</td>
                    <td>{{curRow.RequestUri}}</td>
                </tr>
                <tr>
                    <td style="width:100px;">Method</td>
                    <td>{{curRow.Method}}</td>
                </tr>
                <tr>
                    <td style="width:100px;">请求时间</td>
                    <td>{{curRow.RequestTime}}</td>
                </tr>
                 <tr>
                    <td style="width:100px;">Body</td>
                    <td>{{curRow.Body}}</td>
                </tr>
                <tr>
                    <td style="width:100px;">状态码</td>
                    <td>{{curRow.HttpStatusCode}}</td>
                </tr>
                  <tr>
                    <td style="width:100px;">Result</td>
                    <td>{{curRow.Result}}</td>
                </tr>
                <tr>
                    <td style="width:100px;">Token/OpenId</td>
                    <td>{{curRow.Token}}</td>
                </tr>
            </table>
            <div slot="footer">
                <el-button @click="back()">返回</el-button>
            </div>
        </el-dialog>
    </div>
</template>
<script>
import apiLog from "api/apiLog";
export default {
  data() {
    return {
      curRow: {},
      inputKeyword: "",
      dialogFormVisible: false,
      currentPage: 1,
      pageSizes: [10, 20, 50, 100],
      pageSize: 10,
      total: 0,
      fullscreenLoading: false,
      viewData:[]
    };
  },
  created: function() {
    this.getList();
  },
  mounted: function() {},
  methods: {
    //查看弹窗的返回按钮
    back: function() {
      this.dialogFormVisible = false;
    },
    getList: function() {
      var data = this.inputKeyword;
      this.fullscreenLoading = true;
      apiLog.getList(this.pageSize, this.currentPage, data)
        .then(res => {
          this.viewData = res.data.rows;
          this.total = res.data.count;
          this.fullscreenLoading = false;
        })
        .catch(err => {
          console.error(err);
          this.fullscreenLoading = false;
        });
    },
    //搜索事件
    search: function() {
      this.currentPage = 1;
      this.viewData = [];
      this.getList();
    },
    //查看
    watchDetails: function(index, row) {
      console.log(row);
      this.dialogFormVisible = true;
      this.curRow = row;
    },
    handleSizeChange(val) {
      this.pageSize = val;
      this.getList();
    },
    handleCurrentChange(val) {
      this.currentPage = val;
      this.getList();
    }
  }
};
</script>
